{% extends 'TwigBundle::layout.html.twig' %}

{% block body %}

    <section class="content">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8">
                <div class="error-page">
                    <h2 class="headline text-red"> 404</h2>

                    <div class="error-content">
                        <h3><i class="fa fa-warning text-red"></i> Упсс! Такая страница не найдена!</h3>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {# ... #}
                        {% endif %}

                        <p>Мы не можем найти страницу, которую вы ищите. Пока что, вы можете
                            <a href="{{ path('index') }}">вернуться на главную</a>
                            или воспользоваться поиском.
                        </p>

                        <form class="search-form">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control" placeholder="Поиск">
                                <div class="input-group-btn">
                                    <button type="submit" name="submit" class="btn btn-main"><i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}