<div id="filter-extended" class="filter-extended modal fade form-horizontal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <button type="button"
                            class="btn filter-extended__btn-close js-tooltips pull-right visible-xs"
                            data-dismiss="modal"
                            aria-label="Close"
                            data-toggle="tooltip"
                            data-original-title="Закрыть расширенный фильтр">
                        <span aria-hidden="true">&#9587;</span>
                    </button>

                    <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-6">

                            <!-- 1 - Форма площадь -->
                            <div class="filter-extended__item">
                                <label class="col-xs-12 col-sm-4 control-label">Площадь м<sup>2</sup></label>
                                <div class="col-xs-12 col-sm-8 input-group">
                                    <input name="armf" value="{{ app.request.get('armf') }}" type="text" placeholder="Общая от" class="form-control">
                                    <input name="armt" value="{{ app.request.get('armt') }}" type="text" placeholder="до" class="form-control">
                                    <input name="ark" value="{{ app.request.get('ark') }}" type="text" placeholder="Кухня до" class="form-control">
                                </div>
                            </div>

                            <!-- 2 - Форма литера/подъезд -->
                            <div class="filter-extended__item">
                                <label class="col-xs-12 col-sm-4 control-label">Литера/Подъезд</label>
                                <div class="col-xs-12 col-sm-8 input-group">
                                    <input name="litera" value="{{ app.request.get('litera') }}" type="text" placeholder="Литера" class="form-control">
                                    <input name="block" value="{{ app.request.get('block') }}" type="text" placeholder="Подъезд" class="form-control">
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <!-- 3 - Форма Этажи -->
                            <div class="filter-extended__item">
                                <label class="col-xs-12 col-sm-4 control-label">Этажи</label>
                                <div class="col-xs-12 col-sm-8 input-group">
                                    <input name="floorFrom" value="{{ app.request.get('floorFrom') }}" type="text" placeholder="от" class="form-control">
                                    <input name="floorTo" value="{{ app.request.get('floorTo') }}" type="text" placeholder="до" class="form-control">
                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 input-group">
                                    <div class="checkbox">
                                        <label>
                                            <input name="noFirstFloor" {{ app.request.get('noFirstFloor') ? 'checked' }} type="checkbox" class="filter-extended__checkbox"><span> Кроме первого</span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="noLastFloor" {{ app.request.get('noLastFloor') ? 'checked' }} type="checkbox" class="filter-extended__checkbox"><span> Кроме последнего</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Готовность сдачи -->
                            <div class="filter-extended__item">
                                <label class="col-xs-12 col-sm-4 control-label">Готовность</label>
                                <div class="col-xs-12 col-sm-8 input-group">
                                    <div class="radio">
                                        <label>
                                            <input name="ready" type="radio" value="1" class="filter-extended__checkbox"
                                                    {{ app.request.get('ready') == '1' ? 'checked' }}
                                            >
                                            <span>Сдан</span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ready" type="radio" value="0" class="filter-extended__checkbox"
                                                    {{ app.request.get('ready') == '0' ? 'checked' }}
                                            >
                                            <span>Не сдан</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Аккредитация в банке -->
                            <div class="filter-extended__item">
                                <label class="col-xs-12 col-sm-4 control-label">Акредитация в банке</label>
                                <div class="col-xs-12 col-sm-8 input-group">
                                    <select class="form-control filter-extended__select2" style="width:100%;">
                                        <option>Банк 1</option>
                                        <option>Банк 2</option>
                                        <option>Банк 3</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">

                            <!-- 1 - Форма Отделка -->
                            <div class="filter-extended__item text-nowrap">
                                <label class="col-xs-12 col-sm-4 control-label" for="decor">Отделка</label>
                                <div class="col-xs-12 col-sm-8 input-group">
                                    <select name="decor[]" id="decor" class="form-control filter-extended__select2" multiple="" tabindex="-1" aria-hidden="true" style="width:100%;">
                                        <option value="without_decor" {{ 'without_decor' in app.request.get('decor') ? 'selected' }} >Без отделки</option>
                                        <option value="rough" {{ 'rough' in app.request.get('decor') ? 'selected' }} >Черновая</option>
                                        <option value="finish" {{ 'finish' in app.request.get('decor') ? 'selected' }} >Чистовой</option>
                                        <option value="full" {{ 'full' in app.request.get('decor') ? 'selected' }} >Под ключ</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <!-- 2 - Материал дома -->
                            <div class="filter-extended__item text-nowrap">
                                <label class="col-xs-12 col-sm-4 control-label" for="material">Материал дома</label>
                                <div class="col-xs-12 col-sm-8 input-group">
                                    <select name="material[]" id="material" class="form-control filter-extended__select2" multiple="" tabindex="-1" aria-hidden="true" style="width:100%;">
                                        <option value="brick" {{ 'brick' in app.request.get('material') ? 'selected' }} >Кирпич</option>
                                        <option value="monolith" {{ 'monolith' in app.request.get('material') ? 'selected' }} >Монолит</option>
                                        <option value="panel" {{ 'panel' in app.request.get('material') ? 'selected' }} >Панель</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <!-- Форма Тип жилья -->
                            <div class="filter-extended__item text-nowrap">
                                <label class="col-xs-12 col-sm-4 control-label" for="type">Тип жилья</label>
                                <div class="col-xs-12 col-sm-8 input-group">
                                    <select name="type[]" id="type" class="form-control filter-extended__select2" multiple="" tabindex="-1" style="width:100%;">
                                        <option value="economy" {{ 'economy' in app.request.get('type') ? 'selected' }} >Эконом</option>
                                        <option value="comfort" {{ 'comfort' in app.request.get('type') ? 'selected' }} >Комфорт</option>
                                        <option value="comfort_plus" {{ 'comfort_plus' in app.request.get('type') ? 'selected' }} >Комфорт+</option>
                                        <option value="business" {{ 'business' in app.request.get('type') ? 'selected' }} >Бизнес</option>
                                        <option value="elite" {{ 'elite' in app.request.get('type') ? 'selected' }} >Элитный</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <!-- Форма способы оплаты -->
                            <div class="filter-extended__item">
                                <label class="col-xs-12 col-sm-4 control-label">Способы оплаты</label>
                                <div class="col-xs-12 col-sm-8 input-group">
                                    <div class="checkbox">
                                        <label>
                                            <input name="installment" type="checkbox" class="filter-extended__checkbox"
                                                    {{ app.request.get('installment') ? 'checked' }}>
                                            <span> Рассрочка</span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="mortgage" type="checkbox" class="filter-extended__checkbox"
                                                    {{ app.request.get('mortgage') ? 'checked' }}>
                                            <span> Ипотека</span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="militaryMortgage" type="checkbox" class="filter-extended__checkbox"
                                                    {{ app.request.get('militaryMortgage') ? 'checked' }}>
                                            <span> Военная ипотека</span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="fz" type="checkbox" class="filter-extended__checkbox"
                                                    {{ app.request.get('fz') ? 'checked' }}>
                                            <span> ФЗ-214</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Форма другое -->
                            <div class="filter-extended__item">
                                <label class="col-xs-12 col-sm-4 control-label">Другое</label>
                                <div class="col-xs-12 col-sm-8 input-group">
                                    <div class="checkbox">
                                        <label>
                                            <input name="loggia" type="checkbox" class="filter-extended__checkbox"
                                                    {{ app.request.get('loggia') ? 'checked' }}>
                                            <span> Лоджия</span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="balcony" type="checkbox" class="filter-extended__checkbox"
                                                    {{ app.request.get('balcony') ? 'checked' }}>
                                            <span> Балкон</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Кнопка закрытия расширенного фильтра -->
                            <hr>
                            <div class="pull-right">
                                <button type="button" class="btn btn-default js-tooltips" data-dismiss="modal" data-toggle="tooltip" data-original-title="Закрыть расширенный фильтр">Закрыть</button>
                            </div>

                        </div>
                        {#<div class="clearfix"></div>#}
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>