<form class="filter default-filter js-search-filter form-inline" method="get" id="filter" action="{{ path('search_result') }}">
    <div class="filter--container">

            <!-- 1 - Brand -->
            <div class="filter__item filter__brand hidden-xs">
                <a href="{{ path('index') }}" class="filter__item-brand btn btn-link">
                    <span class="visible-md visible-lg"><b>Prof</b>brony</span>
                    <span class="visible-sm"><b>Pb</b></span>
                </a>
            </div>

            <!-- 2 - Выбор района -->
            <div class="filter__item filter__districts">
                <div class="filter__item-districts">
                    <button type="button" class="btn filter__item-districts--btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Район <span class="fa fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        {% for district in cities[0].districts %}
                            <div class="col-md-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="district[]" value="{{ district.id }}"
                                                {{ district.id in app.request.get('district') ? 'checked'}}
                                               class="filter-extended__checkbox">{{ district.name }}
                                    </label>
                                    {% for subDistrict in district.subDistricts %}
                                        <div class="checkbox checkbox-sub">
                                            <label>
                                                <input type="checkbox" name="subDistrict[]" value="{{ district.id }}|{{ subDistrict.id }}"
                                                    {{ "#{district.id}|#{subDistrict.id}" in app.request.get('subDistrict') ? 'checked'}}
                                                   class="filter-extended__checkbox">{{ subDistrict.name }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <!-- 3 - Сроки сдачи -->
            <div class="filter__item filter__deadline">
                <select name="deadline[]"
                        data-placeholder="Срок сдачи"
                        multiple="multiple"
                        class="form-control js-filter__item-deadline filter__item-deadline"
                        id="filter__item-deadline">
                    {% for year, quarters in deadlines %}
                        {% for key, val in quarters %}
                            <option value="{{ "#{key}|#{year}" }}"
                                    {{ "#{key}|#{year}" in app.request.get('deadline') ? 'selected'}}>
                                {{ val }}
                            </option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>

            <!-- 4 - Количество комнат -->
            <div class="filter__item filter__kolichestvo-komnat">
                <select name="rC[]"
                        class="form-control filter__item-kolichestvo-komnat--select"
                        id="filter__item-kolichestvo-komnat"
                        data-placeholder="Комнатность"
                        multiple="multiple"
                        aria-hidden="true"
                        size="1"
                        style="width: 100%">
                    {% set roomCount = app.request.get('rC')|split(',') %}
                    <option value="sa" {{ 'sa' in roomCount ? 'selected'}}>Все студии</option>
                    <option value="s1" {{ 's1' in roomCount ? 'selected'}}>1к студии</option>
                    <option value="1" {{ 1 in roomCount ? 'selected'}}>1х</option>
                    <option value="2" {{ 2 in roomCount ? 'selected'}}>2х</option>
                    <option value="3" {{ 3 in roomCount ? 'selected'}}>3х</option>
                    <option value="4" {{ 4 in roomCount ? 'selected'}}>4+</option>
                </select >
            </div>

            <!-- 5 - Цены от и до -->
            <div class="filter__item filter__price">
                <div style="display: flex;">
                    <input type="text" name="priceMin" placeholder="Цена от" class="form-control filter__item-price" value="{{ app.request.get('priceMin') }}">
                    <input type="text" name="priceMax" placeholder="до" class="form-control filter__item-price" value="{{ app.request.get('priceMax') }}">
                    <div class="filter__item-building-price">
                        <input type="radio" name="price" value="total" id="polnaya-stoimost"
                               class="form-control filter__item-building-price--check" {{ app.request.get('price') == 'total' ? 'checked' }}>
                        <label for="polnaya-stoimost">За все</label>
                        <input type="radio" name="price" value="meter" id="cena-za-kv-m"
                               class="form-control filter__item-building-price--check" {{ app.request.get('price') == 'meter' ? 'checked' }}>
                        <label for="cena-za-kv-m">м<sup>2</sup></label>
                    </div>
                </div>
            </div>

            <!-- 6 - Акция -->
            <div class="filter__item filter__action">
                <div class="filter__item-action">
                    <input type="checkbox" name="action" id="action" class="filter__item-check-action" {{ app.request.get('action') ? 'checked'}}>
                    <label for="action">Акция</label>
                </div>
            </div>

            <!-- 7 - Живой поиск -->
            <div class="filter__item filter__live-search">
                <div class="filter__item-live-search input-group">
                    <input type="text" name="q" placeholder="Поиск по ЖК, Застройщик, Банк"
                           class="form-control" value="{{ app.request.get('q') }}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-flat btn-main"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>

            <div class="filter__item filter__btn">
                <div class="btn-group">
                    <!-- Кнопка вызова расширенного фильтра -->
                    <button class="btn btn-default js-filter__btn-more btn-block filter__btn-more"
                            data-toggle="modal"
                            data-target="#filter-extended"
                            data-dismiss="modal"
                            type="button">
                        Подробнее
                    </button>
                        {#Стрелка вниз/вверх#}
                        {#<span class="js-filter__arrow" role="presentation"><b role="presentation"></b></span>#}
                    <!-- Кнопка карта -->
                    <a href="{{ path('search_map') }}" class="btn btn-map btn-block" type="submit" style="background: url(/src/img/bg_btn_map.jpg);">На карте</a>
                    <!-- Кнопка поиска -->
                    <button class="btn btn-main btn-block" type="submit">Найти</button>
                </div>
            </div>

    </div>

    <!-- Расширенный фильтр -->
    {% block filterextended %}
        {{ include('main/_templates/filter_extended.html.twig') }}
    {% endblock %}

</form>

