<div class="flat-board-wrapper center-block">
    <table class="js-block-board">
        <tbody>
        <tr>
            <td>19</td>
            <td>154</td>
            <td>155</td>
            <td>156</td>
            <td>157</td>
            <td>158</td>
            <td>159</td>
            <td>160</td>
            <td>161</td>
            <td>162</td>
        </tr>
        <tr>
            <td>18</td>
            <td>145</td>
            <td>146</td>
            <td>147</td>
            <td>148</td>
            <td>149</td>
            <td>150</td>
            <td>151</td>
            <td>152</td>
            <td>153</td>
        </tr>
        <tr>
            <td>17</td>
            <td>136</td>
            <td>137</td>
            <td>138</td>
            <td>193</td>
            <td>140</td>
            <td>141</td>
            <td>142</td>
            <td>143</td>
            <td>144</td>
        </tr>
        <tr>
            <td>16</td>
            <td>127</td>
            <td>128</td>
            <td>129</td>
            <td>130</td>
            <td>131</td>
            <td>132</td>
            <td>133</td>
            <td>134</td>
            <td>135</td>
        </tr>
        <tr>
            <td>15</td>
            <td>118</td>
            <td>119</td>
            <td>120</td>
            <td>121</td>
            <td>122</td>
            <td>123</td>
            <td>124</td>
            <td>125</td>
            <td>126</td>
        </tr>
        <tr>
            <td>14</td>
            <td>109</td>
            <td>110</td>
            <td>111</td>
            <td>112</td>
            <td>113</td>
            <td>114</td>
            <td>115</td>
            <td>116</td>
            <td>117</td>
        </tr>
        <tr>
            <td>13</td>
            <td>100</td>
            <td>101</td>
            <td>102</td>
            <td>103</td>
            <td>104</td>
            <td>105</td>
            <td>106</td>
            <td>107</td>
            <td>108</td>
        </tr>
        <tr>
            <td>12</td>
            <td>91</td>
            <td>92</td>
            <td>93</td>
            <td>94</td>
            <td>95</td>
            <td>96</td>
            <td>97</td>
            <td>98</td>
            <td>99</td>
        </tr>
        <tr>
            <td>11</td>
            <td>82</td>
            <td>83</td>
            <td>84</td>
            <td>85</td>
            <td>86</td>
            <td>87</td>
            <td>88</td>
            <td>89</td>
            <td>90</td>
        </tr>
        <tr>
            <td>10</td>
            <td>73</td>
            <td>74</td>
            <td>75</td>
            <td>76</td>
            <td>77</td>
            <td>78</td>
            <td>79</td>
            <td>80</td>
            <td>81</td>
        </tr>
        <tr>
            <td>9</td>
            <td>64</td>
            <td>65</td>
            <td>66</td>
            <td>67</td>
            <td>68</td>
            <td>69</td>
            <td>70</td>
            <td>71</td>
            <td>72</td>
        </tr>
        <tr>
            <td>8</td>
            <td>55</td>
            <td>56</td>
            <td>57</td>
            <td>58</td>
            <td>59</td>
            <td>61</td>
            <td>60</td>
            <td>62</td>
            <td>63</td>
        </tr>
        <tr>
            <td>7</td>
            <td>46</td>
            <td>47</td>
            <td>48</td>
            <td>49</td>
            <td>50</td>
            <td>51</td>
            <td>52</td>
            <td>53</td>
            <td>54</td>
        </tr>
        <tr>
            <td>6</td>
            <td>37</td>
            <td>38</td>
            <td>39</td>
            <td>40</td>
            <td>41</td>
            <td>42</td>
            <td>43</td>
            <td>44</td>
            <td>45</td>
        </tr>
        <tr>
            <td>5</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td>31</td>
            <td>32</td>
            <td>33</td>
            <td>34</td>
            <td>35</td>
            <td>36</td>
        </tr>
        <tr>
            <td>4</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
        </tr>
        <tr>
            <td>3</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
        </tr>
        </tbody>
    </table>
</div>