<div class="box flat-room-card">
    <div class="box-header hidden-lg hidden-md">
        <div class="box-title">Карточка квартиры</div>
    </div>
    <div class="box-body">
        <div class="box-header with-border flat-header-hight">
            <span class="flat-room-header-text"><b>2-х комн. № 34, 5 этаж, 1 под., 4-й корп</b></span>
            <div class="pull-right hidden"><a class="btn label label-danger box-title" href="#">Акция!</a></div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <img src="/../assets/img/icon_flat_card/square.png" alt="Площадь" class="media-object"
                                 title="Площадь">
                        </div>
                        <div class="media-body">
                            <div class="clearfix">

                                <p>Общая ─ <b>15 м<sup>2</sup></b></p>
                                <p>Кухня ─ <b>15 м<sup>2</sup></b></p>
                                <p>Жилая ─ <b>15 м<sup>2</sup></b></p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-body">

                            <p><img src="/../assets/img/icon_flat_card/bath.png" alt="Площадь"
                                    class="media-left media-object icon"
                                    title="Площадь">Санузел <b>1\2 - 12\0 м<sup>2</sup></b></p>
                            <p><img src="/../assets/img/icon_flat_card/balcony.png" alt="Площадь"
                                    class="media-left media-object icon"
                                    title="Площадь">балк\лодж - <b>5\6 м<sup>2</sup></b></p>
                            <p><img src="/../assets/img/icon_flat_card/paint.png" alt="Площадь"
                                    class="media-left media-object icon"
                                    title="Площадь">Черновая</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <img src="/../assets/img/icon_flat_card/rubl.png" alt="Площадь" class="media-object" title="Площадь">
                        </div>
                        <div class="media-body">
                            <div class="clearfix">
                                <p>Оплата 100 % - <b>2300000 р.</b></p>
                                <p>В Ипотеку - <b>от 2450000 р</b>.</p>
                                <p>В рассрочку - <b>2555000 р.</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-body">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="flat-status__free">СВОБОДНА</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <a href="#" class="btn btn-success btn-sm">БРОНИРОВАТЬ</a>
                                    <div class="form-group hidden">
                                        <label class="control-label" for="flat_status_select"></label>
                                        <select id="flat_status_select" name="flat_status_select" class="form-control">
                                            <option value="1">Cвободна</option>
                                            <option value="2">Забронирована</option>
                                            <option value="3">Продана</option>
                                            <option value="4">В резерве</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="box-footer">
        <div class="col-md-6">
            <span>Комиссия агента - <b>34 000 руб.</b></span>
        </div>
        <div class="col-md-6">
            <a href="#" class="">Условия бронирования</a>
        </div>
    </div>
</div>