{% block footer %}
    <div id="footer" class="clearfix">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <p class="footer-left-info">
                            <a href="#">Правила</a> &#124
                            Выгода для агентов.<br>Copyright © 2017 ГК Новоселье, "ПрофБронь"
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="text-right footer-right-info">
                            По вопросам подключения 8-800-234-45-45<br>Служба клиентского сервиса
                            <a href="#"> Hyperlink</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
