
{% block header %}
<div id="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <div class="logo">
                        <span class="logo-pb"><b>P</b><span>b</span></span>
                        <span class="logo-text-pb"><b>Prof</b>brony</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="header-text">
                    <h1 class="h1">Профессиональная система обмена актуальными данными<br>
                        <small class="small">Бронирование квартир по схеме застройщик - агент - клиент</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}