<nav class="navbar navbar-transparent">

    <div class="navbar-header">
        {#<a href="{{ path('index') }}" class="navbar-brand"><b>P</b>rofbrony</a>#}
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="btn menu-region dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Город<span class="fa fa-caret-down"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% for city in cities %}
                        <li><a href="#">{{ city.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {# <li class="dropdown">
                 <a class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Другие
                     страницы<span
                             class="fa fa-caret-down"></span></a>
                   <ul class="dropdown-menu" role="menu">
                      <li><a href="{{ path('index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
                       <li><a href="{{ path('search_result') }}">Результат поиска</a></li>
                       <li><a href="{{ path('profile_developer') }}">Кабинет застройщика</a></li> #}
                    {#<li><a href="{{ path('profile_agent') }}">Личный кабинет</a></li>
                </ul>
            </li>#}
        </ul>
    </div>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav pull-right">

            {% if app.user %}
            {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_SUPER_ADMIN')) or (is_granted('ROLE_AGENT')) or (is_granted('ROLE_PRIVATE_AGENT')) or (is_granted('ROLE_OPERATOR'))%}
                <li>
                    <a href="{{ path('rate_list_personal') }}" class="btn dropdown-toggle">
                        <i class="fa fa-laptop"></i>
                        <span>Тарифы</span>
                    </a>
                </li>
            {% endif %}
                    <li>
                        <a href="{{ path('profile_agent') }}" class="btn dropdown-toggle">
                            <i class="fa fa-laptop"></i>
                            <span>Личный кабинет</span>
                        </a>
                    </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('sonata_admin_dashboard') }}" class="btn dropdown-toggle">
                            <i class="fa fa-laptop"></i>
                            <span>Админ панель</span>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('fos_user_security_logout') }}" class="btn dropdown-toggle">
                        <i class="fa fa-sign-out"></i>
                        <span>Выход</span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}" class="btn dropdown-toggle">
                        <i class="fa fa-user"></i>
                        <span class="">Вход</span>
                    </a>
                </li>
               {#<li>
                    <a href="{{ path('fos_user_registration_register') }}" class="btn dropdown-toggle">
                        <i class="fa fa-envelope"></i>
                        <span class=""> Регистрация</span>
                    </a>
                </li>#}
            {% endif %}

        </ul>
    </div>

</nav>
