<div class="modal fade in" id="modal-profile">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
         {#<form action="" class="form-horizontal" method="get">#}
            <div class="modal-header">

                    <div class="box box-widget widget-user">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <div class="widget-user-header bg-black" style="background: url('../../src/img/photo1.png') center center;">
                            <div class="widget-user-image">
                                <a href="#" data-toggle="tooltip" title="" data-original-title="Нажмите, что бы изменить аватар">
                                    <img class="img-circle" src="../src/img/default-avatar.png" alt="User Avatar">
                                </a>
                            </div>
                            {% if app.user.firstname and app.user.lastname %}
                                <h3 class="widget-user-username">{{ app.user.firstname }} {{ app.user.lastname }}</h3>
                            {% elseif app.user.username %}
                                <h3 class="widget-user-username">{{ app.user.username }} </h3>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <h5 class="widget-user-desc">Администратор</h5>
                            {% elseif is_granted('ROLE_DEVELOPER') %}
                            <h5 class="widget-user-desc">Застройщик</h5>
                            {% elseif is_granted('ROLE_OPERATOR') %}
                                <h5 class="widget-user-desc">Оператор</h5>
                            {% elseif is_granted('ROLE_AGENT') %}
                                <h5 class="widget-user-desc">Агент</h5>
                            {% elseif is_granted('ROLE_PRIVATE_AGENT') %}
                                <h5 class="widget-user-desc">Частный агент</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <!-- Первая колонка -->
                    <div class="col-md-6 col-sm-12">

                        <form action="{{ path('edit_user', {'id': app.user.id }) }}" class="form-horizontal" method="get">
                            <input id="inputidUser" type="hidden" value="{{ app.user.id }}">
                        <div class="form-group">
                            <label for="inputProfileName" class="col-sm-3 control-label">Имя</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputProfileName" value="{{ app.user.firstname }}" name="firstname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputProfileSurname" class="col-sm-3 control-label">Фамилия</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputProfileSurname" value="{{ app.user.lastname }}" name="lastname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputProfileEmail" class="col-sm-3 control-label">E-mail</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputProfileEmail" value="{{ app.user.email }}" name="email">
                            </div>
                        </div>

                        {#<div class="form-group">#}
                            {#<label for="inputExperience" class="col-sm-2 control-label">Опыт</label>#}
                            {#<div class="col-sm-10">#}
                                {#<textarea class="form-control" id="inputExperience" placeholder="Опыт"></textarea>#}
                            {#</div>#}
                        {#</div>#}

                        <div class="form-group">
                            <label for="inputProfileLogin" class="col-sm-3 control-label">Логин</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputProfileLogin" value="{{ app.user.username }}" name="username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputProfilePhone" class="col-sm-3 control-label">Телефон</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputProfilePhone" value="{{ app.user.phone }}" name="phone">
                            </div>
                        </div>

                      {#<div class="form-group">
                            <label for="inputProfileCompany" class="col-sm-3 control-label">Сайт</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputProfileCompany" value="{{ app.user.website }}">
                            </div>
                        </div>#}

                            {#<div class="form-group">
                                 <div class="col-sm-offset-1 col-sm-10">
                                     <div class="checkbox">
                                         <label>
                                             <input type="checkbox" class="filter-extended__checkbox"> Я соглашаюсь с <a href="#">условиями соглашения</a>
                                         </label>
                                     </div>
                                 </div>
                             </div>#}

                            <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-danger">Подтвердить</button>
                            </div>
                        </div>
                        </form>
                    </div>

                    <!-- вторая колонка -->
                    <div class="col-md-6 col-sm-12 button-edit-password-blue">
                        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
                        <!-- Чекбоксы получения уведомлений -->
                        {# <div class="form-group">
                              <form onsubmit="editPassword()" class="form-horizontal" method="get">
                                  <div class="form-group">
                                      <label for="inputPassword" class="col-sm-3 control-label">Пароль</label>
                                      <div class="col-sm-9">
                                          <input type="password" class="form-control" id="inputPassword" value="" name="password">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="inputPasswordConf" class="col-sm-3 control-label">Повторите пароль</label>
                                      <div class="col-sm-9">
                                          <input type="password" class="form-control" id="inputPasswordConf" value="">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-sm-offset-2 col-sm-10">
                                          <button type="submit" class="btn btn-danger">Изменить пароль</button>
                                      </div>
                                  </div>
                              </form>
                          </div>

                          <!-- Место вставлять логотип компании -->
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <label>Брендирование:</label>
                                  <p>Логотип вашей компании</p>
                                  <div class="profile-page__logo-img">
                                      <a href="#">
                                          <img class="img-responsive" src="../src/img/default-50x50.gif" alt="Логотип вашей компании">
                                      </a>
                                  </div>
                                  <div class="input-group">
                                      <label for="InputProfileFile">File input</label>

                                      <p class="help-block">Выбирете файл</p>
                                      <input type="file" id="InputProfileFile">
                                  </div>

                              </div>
                          </div>#}


                      </div>
                    <div class="clearfix"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Закрыть</button>
                  {#<button type="button" class="btn btn-primary">Сохранить изменения</button>#}
                </div>
            {#</form>#}
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>