<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu navbar-nav" data-widget="tree">

            <!-- Бренд-лого -->
            <li class="pull-left visible-xs">
                <a href="/" class="navbar-brand">
                    <p><b>Prof</b>brony</p>
                    <!-- <p class="hidden"><b>Pb</b></p> -->
                </a>
            </li>
            <!-- Иконка и кнопка с изображением юзера, выпадающее окно мини-профайла -->
            <li class="user-menu">
                <!-- Сама кнопка на сайдбаре -->
                <a href="#" class="text-center usersidebar-image dropdown-toggle" data-toggle="dropdown">
                    <img src="../../../src/img/default-avatar.png" class="user-image" alt="User Image">
                    <!-- Имя - пригодится для мобильных версий, в задумке... -->
                    {#<span class="hidden">Татьяна Кучерявая</span>#}
                </a>
                <!-- Мини-профайл -->
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="../../../src/img/default-avatar.png" class="img-circle" alt="User Image">

                        <p> Татьяна Кучерявая
                            <small>Название кампании</small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body text-left">
                        <div class="row">
                            <div class="col-xs-12">
                                <div><i class="fa fa-phone margin-r-5 text-nowrap"></i>+7 (865) 555 5555</div>
                            </div>
                            <div class="col-xs-12">
                                <div><i class="fa fa-envelope-o margin-r-5"></i>ivanovaivanovna@mail.ru</div>
                            </div>
                        </div>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <!-- Кнопка перехода на страницу агента/зайстройщика-->
                            <a href="{{ path('profile_agent') }}" class="btn btn-default btn-sm">Профиль</a>
                            {#<a href="{{ path('profile_developer') }}" class="btn btn-default btn-sm">Профиль</a>#}
                        </div>
                        <div class="pull-right">
                            <a href="#" class="btn btn-default btn-sm">Выход</a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Иконка и кнопка оповещения и быстрого доступа к уведомлениям -->
            <li class="notifications-menu">
                <!-- Сама кнопка -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <!-- Число непрочитанных уведомлений -->
                    <span class="label label-warning">3</span>
                </a>
                <!-- Раскрывающееся мини-окно просмотра уведомлений  -->
                <ul class="dropdown-menu">
                    <li class="header">У вас <span class="label label-white text-accent">3</span>непрочитанных уведомлений</li>
                    <li>
                        <ul class="menu scrollbar-style">
                            <li>
                                <a href="#">
                                    Появилось 5 новых новостроек...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Заполните профиль, что бы получить больше возможностей по настройке своего аккаунта...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Чтобы узнать как пользоваться ресурсом, прочитайте эту инструкцию...
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer"><a href="{{ path('profile_agent') }}">Открыть все</a></li>
                </ul>
            </li>
            <li class="messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope-o"></i>
                    <span class="label label-warning">4</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">У вас <span class="label label-white text-accent">4</span>сообщения</li>
                    <li>
                        <ul class="menu scrollbar-style">
                            <li>
                                <a href="#">
                                    <div class="pull-left">
                                        <img src="../../../src/img/default-avatar.png" class="img-circle" alt="User Image">
                                    </div>
                                    <h4 class="h4 text-left">Команда поддержки
                                        <small class="text-black"><i class="fa fa-clock-o"></i> 5 минут</small>
                                    </h4>
                                    <p class="h5">Для вас есть специальное предложение...</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="pull-left">
                                        <img src="../../../src/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                    </div>
                                    <div class="h4 text-left">Админ
                                        <small class="text-black"><i class="fa fa-clock-o"></i> 2 часа</small>
                                    </div>
                                    <p>Обратитесть в службу поддержки...</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="pull-left">
                                        <img src="../../../src/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                    </div>
                                    <div class="h4 text-left">Застройщик
                                        <small class="text-black"><i class="fa fa-clock-o"></i> Сегодня</small>
                                    </div>
                                    <p>Предлагаю такой вариант...</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="pull-left">
                                        <img src="../../../src/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    </div>
                                    <div class="h4 text-left">Отдел продаж
                                        <small class="text-black"><i class="fa fa-clock-o"></i> Вчера</small>
                                    </div>
                                    <p>По вашему запросу ничего не найдено!</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="footer"><a href="#">Смотреть все сообщения</a></li>
                </ul>
            </li>
            <!-- Дополнительные пункты, если понадобятся... -->
            <li class="notifications-menu">
                <!-- Сама кнопка -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-exclamation-triangle"></i>
                </a>
                <!-- Раскрывающееся мини-окно просмотра  -->
                <ul class="dropdown-menu">
                    <li class="header">Другое</li>
                    <li>
                        <ul class="menu scrollbar-style">
                            <li class="pad-15">
                                <div class="text-left">
                                    <small>Здесь можно выводить всякую разную информацию</small>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="footer"><a href="#">Просмотреть все</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>