{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('src/js/layout_painter/raphael.js') }}"></script>
    <script src="{{ asset('src/js/layout_painter/paint.js') }}"></script>
    <script src="{{ asset('src/js/admin.js') }}"></script>
{% endblock %}

{% block sonata_page_content_header %}
    <h1>Разметка планировки
        <small><a href="{{ path('admin_app_building_edit', {'id': object.building.id}) }}">{{ object.building.name }}</a></small>
        <small><a href="{{ path('admin_app_building_floorlayout_list', {'id': object.building.id, 'childId': object.id}) }}">Список планировок</a></small>
    </h1>
{% endblock %}

{% block sonata_admin_content %}
    <div class="row">
        <div class="box box-primary">
            <div class="box-body">
                <div class="js-floor-layout-app" data-building-id="{{ object.building.id }}">

                    <!--
                    <div class="js-floor-layout-app-form">
                        <strong>Выберите область на фото</strong>
                    </div>
                    -->

                    <div class="col-md-6">
                        <div class="js-floor-layout-app-form" data-floor-layout-id="{{ object.id }}" data-block-id="{{ object.block.id }}">
                            <label for="floors">Выберите этажи</label>
                            <select name="floors" class="form-control js-add-floor-to-layout" multiple="multiple"></select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="flat-board-wrapper">
                            <table class="js-block-board"></table>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <hr>


                    <div class="col-md-12">
                        <div class="layout-canvas-wrapper">
                            <div id="layout-canvas" data-list-area-url="{{ path('admin_app_floorlayout_area_list', {'id': object.id}) }}"
                                 data-save-area-url="{{ path('admin_app_floorlayout_area_create', {'id':object.id}) }}"
                                 data-delete-area-url="{{ path('admin_app_area_remove') }}"
                            >
                                <img src="{% path object.image, 'reference' %}" alt="layout">
                            </div>
                        </div>
                        <ul id="painter-context-menu-layer" class="dropdown-menu dropdown-menu_no-arr">
                            <li><a class="js-painter-context-menu-relate" href="#"><i class="fa fa-arrows-h"></i> Связать с квартирами</a></li>
                            <li><a class="js-painter-context-menu-delete" href="#"><i class="fa fa-remove"></i> Удалить область</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
