{% extends base_template %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('src/js/admin.js') }}"></script>
{% endblock %}

{% block sonata_page_content_header %}
    <h1>Шахматка
        <small><a href="{{ path('admin_app_object_edit', {'id': object.object.id}) }}">{{ object.object.name }}</a></small>
        <small><a href="{{ path('admin_app_object_building_edit', {'id': object.object.id, 'childId': object.id}) }}">{{ object.name }}</a></small>
    </h1>
{% endblock %}

{% block sonata_admin_content %}
    <style href="{{ asset('src/admin.css') }}"></style>
    <style>
        .table{
            display:table;
        }
        .thead {
            display:table-header-group;
            font-weight:bold;
        }
        .tbody {
            display:table-row-group;
        }
        .tr{
            display:table-row;
        }
        .td {
            display:table-cell;
            border-top: 1px solid #f4f4f4;
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
        }
        .td input{
            padding-right: 0!important;
        }
    </style>

    <!-- Модальное "Подтверждение удаления" -->
    <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="modalConfirmLabel">Подтвертить удаление</h4>
                </div>
                <div class="modal-body">
                    <p class="js-delete-message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <a href="#" class="btn btn-danger js-btn-delete-confirm">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    <!--./ Модальное "Подтверждение удаления" -->



      <!-- Модальное "Добавить подъезд" -->
    <div class="modal fade" id="blockModal" tabindex="-1" role="dialog" aria-labelledby="blockModalLabel">
        <div class="modal-dialog" role="document">
            {{ form_start(blockForm, {action: path('admin_app_building_board', {'id': object.id}), 'method': 'POST'}) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="blockModalLabel">Добавить подъезд</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ form_label(blockForm.name) }}
                        {{ form_widget(blockForm.name, {attr: {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    {{ form_widget(blockForm.save, {attr: {'type':'button','class': 'btn btn-primary'}, 'label': 'Добавить', 'action': ''}) }}
                </div>
            </div>
            {{ form_end(blockForm) }}
        </div>
    </div>
    <!--./ Модальное "Добавить подъезд" -->

    <!-- Модальное "Добавить квартиру" -->
    <div class="modal fade" id="flatModal" tabindex="-1" role="dialog" aria-labelledby="flatModalLabel">
        <div class="modal-dialog" role="document">
            {{ form_start(flatForm) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="flatModalLabel">Добавить квартиру</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">{{ form_row(flatForm.num) }}</div>
                        <div class="col-md-6">{{ form_row(flatForm.roomCount) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(flatForm.status) }}</div>
                        <div class="col-md-6">{{ form_row(flatForm.decor) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">{{ form_row(flatForm.studio) }}</div>
                        <div class="col-md-3">{{ form_row(flatForm.action) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(flatForm.priceTotal) }}</div>
                        <div class="col-md-6">{{ form_row(flatForm.areaTotal) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(flatForm.priceMortgage) }}</div>
                        <div class="col-md-6">{{ form_row(flatForm.priceInstallment) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(flatForm.areaLiving) }}</div>
                        <div class="col-md-6">{{ form_row(flatForm.kitchenArea) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(flatForm.bathroomCount) }}</div>
                        <div class="col-md-6">{{ form_row(flatForm.bathroomArea) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(flatForm.balconyCount) }}</div>
                        <div class="col-md-6">{{ form_row(flatForm.balconyArea) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(flatForm.loggiaCount) }}</div>
                        <div class="col-md-6">{{ form_row(flatForm.loggiaArea) }}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </div>
            {{ form_end(flatForm) }}
        </div>
    </div>
    <!--./ Модальное "Добавить квартиру" -->


    <div class="container-fluid">
        <div class="row">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#blockModal">Добавить подъезд</button>
        </div>
        <br><br>
        <div class="row">
            <div class="js-border-blocks-tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    {% for block in object.blocks %}
                        <li role="presentation" {% if loop.first %}class="active"{% endif %}>
                            <a href="#block{{ block.id }}"
                               aria-controls="block{{ block.id }}"
                               role="tab"
                               data-block-id="{{ block.id }}"
                               data-building-id="{{ object.id }}"
                               data-toggle="tab">
                                {{ block.name }}
                                <span class="js-update-block on-hover__pointer"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                <span class="js-delete-block on-hover__pointer"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    {% for block in object.blocks %}

                        <div role="tabpanel"
                             class="tab-pane {% if loop.first %}active{% endif %}"
                             id="block{{ block.id }}">
                            <br>
                            {% for floor in block.floors|reverse %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" href="#floor_{{ floor.id }}" aria-expanded="false" aria-controls="floor_{{ floor.id }}" class="js-collapsible">
                                            <span>Этаж {{ floor.num }} <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        </a>
                                        <a href="#" data-floor-id="{{ floor.id }}" class="js-remove-floor pull-right">Удалить этаж</a>
                                    </div>
                                    <div class="panel-body collapse table-responsive" id="floor_{{ floor.id }}">


                                        <div class="table">
                                            <div class="thead">
                                                <div class="tr">
                                                    <div class="td">{{ 'Num'|trans }}</div>
                                                    <div class="td">{{ 'Studio'|trans }}</div>
                                                    <div class="td">{{ 'Action'|trans }}</div>
                                                    <div class="td">{{ 'Investor sales'|trans }}</div>
                                                    <div class="td">{{ 'Room count'|trans }}</div>
                                                    <div class="td">{{ 'Status'|trans }}</div>
                                                    <div class="td">{{ 'Decor'|trans }}</div>
                                                    <div class="td">{{ 'Price meter'|trans }}</div>
                                                    <div class="td">{{ 'Price total'|trans }}</div>
                                                    <div class="td">{{ 'Price mortgage'|trans }}</div>
                                                    <div class="td">{{ 'Price installment'|trans }}</div>
                                                    <div class="td">{{ 'Area total'|trans }}</div>
                                                    <div class="td">{{ 'Area living'|trans }}</div>
                                                    <div class="td">{{ 'Kitchen area'|trans }}</div>
                                                    <div class="td">{{ 'Bathroom count'|trans }}</div>
                                                    <div class="td">{{ 'Bathroom area'|trans }}</div>
                                                    <div class="td">{{ 'Balcony count'|trans }}</div>
                                                    <div class="td">{{ 'Balcony area'|trans }}</div>
                                                    <div class="td">{{ 'Loggia count'|trans }}</div>
                                                    <div class="td">{{ 'Loggia area'|trans }}</div>
                                                    <div class="td"></div>
                                                </div>
                                            </div>

                                            <div class="tbody">
                                                {% for flat in floor.flats %}
                                                    <form class="tr" data-flat-id="{{ flat.id }}">
                                                        <div class="td">{{ form_widget(flatForms[flat.id].num) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].studio, {'label':false}) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].action, {'label':false}) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].investorSales, {'label':false}) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].roomCount) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].status) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].decor) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].priceMeter, {'attr': {'style': 'width:100px'}}) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].priceTotal, {'attr': {'style': 'width:100px'}}) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].priceMortgage, {'attr': {'style': 'width:100px'}}) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].priceInstallment, {'attr': {'style': 'width:100px'}}) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].areaTotal) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].areaLiving) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].kitchenArea) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].bathroomCount) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].bathroomArea) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].balconyCount) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].balconyArea) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].loggiaCount) }}</div>
                                                        <div class="td">{{ form_widget(flatForms[flat.id].loggiaArea) }}</div>
                                                        <div class="td">
                                                            <a href="#" class="js-remove-flat" data-flat-id="{{ flat.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </form>
                                                {% endfor %}

                                            </div>
                                            <button class="btn btn-success js-create-flat" data-floor-id="{{ floor.id }}">Добавить квартиру</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <a href="#" class="btn btn-success js-create-floor" data-block-id="{{ block.id }}">Добавить этаж</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
