{% macro render_groups(admin, form, groups, has_tab) %}
    <div class="row">

        {% for code in groups if admin.formgroups[code] is defined %}
            {% set form_group = admin.formgroups[code] %}

            <div class="{{ form_group.class|default('col-md-12') }}">
                <div class="{{ form_group.box_class }}">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ form_group.label|trans({}, form_group.translation_domain ?: admin.translationDomain) }}
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">
                            {% if form_group.description %}
                                <p>{{ form_group.description|raw }}</p>
                            {% endif %}

                            {% for field_name in form_group.fields if form[field_name] is defined %}

                                {{ form_row( form.isReady ) }}

                                <div class="row">
                                    <div class="col-md-6">{{ form_row( form.name) }}</div>
                                    <div class="col-md-6">{{ form_row( form.address) }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">{{ form_row( form.dateStart ) }}</div>
                                    <div class="col-md-4">{{ form_row( form.deadlineYear ) }}</div>
                                    <div class="col-md-4">{{ form_row( form.deadlineQuarter ) }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">{{ form_row( form.materialType ) }}</div>
                                    <div class="col-md-4">{{ form_row( form.type ) }}</div>
                                    <div class="col-md-4">{{ form_row( form.object ) }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">{{ form_row( form.fz_214 ) }}</div>
                                    <div class="col-md-3">{{ form_row( form.installment ) }}</div>
                                    <div class="col-md-3">{{ form_row( form.mortgage ) }}</div>
                                    <div class="col-md-3">{{ form_row( form.militaryMortgage ) }}</div>
                                </div>

                            {% else %}
                                <em>{{ 'message_form_group_empty'|trans({}, 'SonataAdminBundle') }}</em>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
