{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        <a href="{{ path('admin_app_building_floorlayout_edit', {'id': object.building.id, 'childId': object.id}) }}">
            {% thumbnail object.image, 'small' %}
        </a>
    </div>
{% endblock %}