{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('src/js/admin.js') }}"></script>
{% endblock %}


{% block sonata_page_content_header %}
    <h1>Импорт объекта
        <small><a href="{{ path('admin_app_object_edit', {'id': object.id}) }}">{{ object.name }}</a></small>
    </h1>
{% endblock %}

{% block sonata_admin_content %}
    <div class="box box-primary">
        <div class="box-header"><h3 class="box-title">Соответствие параметров</h3></div>
        <form action="{{ path("admin_app_object_import", { 'id': object.id}) }}" method="post" class="js-import-form">
            <div class="box-body table-responsive">
                <table class="table table-bordered">
                    <tr>
                        {% for name, required in flatParams %}
                            <th>{{ name|trans }} {{ required ? "*" }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for name, required in flatParams %}
                            <td>
                                <label>
                                    <select name="params[{{ name|replace({' ': '_'}) }}]" {{ required ? "required" }} class="form-control">
                                        <option value="">-</option>
                                        {% for key in table|first|keys %}
                                            <option value="{{ key }}" {{ (table|first[key].value == name|trans) ? 'selected' }}>{{ table|first[key].value }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-success" value="Импортировать">
            </div>
        </form>
    </div>

    <div class="box box-primary">
        <div class="box-header"><h3 class="box-title">Импортируемый файл</h3></div>
        <div class="box-body table-responsive">
            <table id="table_id" class="display table table-bordered table-hover">
                <thead>
                <tr>
                    {% for cell in table|first %}
                        <th>{{ cell.value }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in table|slice(1) %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell.value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
        </div>
    </div>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
