{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('src/js/admin.js') }}"></script>
{% endblock %}


{% block sonata_page_content_header %}
    <h1>Завершение импорта объекта
        <small><a href="{{ path('admin_app_object_edit', {'id': object.id}) }}">{{ object.name }}</a></small>
    </h1>
{% endblock %}


{% block sonata_admin_content %}

    <div class="modal fade" id="addBuildingModal" tabindex="-1" role="dialog" aria-labelledby="addBuildingModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addBuildingModalLabel">Добавить дом</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-primary">
        <form action="" method="post" class="js-import-form">
            <div class="box-header"><h3 class="box-title">Соответствие параметров</h3></div>
            <div class="box-body table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Дома для импорта</th>
                        <th>Дома объекта</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key in importBuildings|keys %}
                        <tr>
                            <td>{{ importBuildings[key] }}</td>
                            <td>
                                <label>
                                    <select name="importBuildings[{{ key }}]" class="form-control">
                                        {% for building in object.buildings %}
                                            <option value="{{ building.id }}">{{ building.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-success" value="Завершить импорт">
            </div>
        </form>
    </div>
{% endblock %}