{% macro render_groups(admin, form, groups, has_tab) %}
    <div class="row">
        {% for code in groups if admin.formgroups[code] is defined %}
            {% set form_group = admin.formgroups[code] %}

            <div class="{{ form_group.class|default('col-md-12') }}">
                <div class="{{ form_group.box_class }}">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ form_group.label|trans({}, form_group.translation_domain ?: admin.translationDomain) }}
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">
                            {% if form_group.description %}
                                <p>{{ form_group.description|raw }}</p>
                            {% endif %}

                            {% for field_name in form_group.fields if form[field_name] is defined %}
                                {{ form_row(form[field_name]) }}
                                {% if field_name == 'importFile' and  form[field_name].vars.value %}
                                    <a href="{{ path('admin_app_object_import_mapping', {'id': admin.subject.id}) }}" class="btn btn-danger btn-sm sonata-ba-action">Импортировать</a>
                                {% endif %}
                            {% else %}
                                <em>{{ 'message_form_group_empty'|trans({}, 'SonataAdminBundle') }}</em>
                            {% endfor %}
                            <hr>
                            <div class="callout callout-info">
                                <p>Для импорта объекта - выбрать файл, нажав на <b>"Список"</b>
                                    или добавить новый, нажав на <b>"Добавить"</b>.
                                    После, нажать кнопку <b>"Импортировать"</b>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
