{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block navbar_title %}
    Тарифы
{% endblock %}
{% block table_body %}
    <tbody>
    {% for object in admin.datagrid.results %}
        <tr>
            {{ object|render_list_element(admin.list['batch']) }}
            {{ object|render_list_element(admin.list['developer']) }}
            <td><div style="position: absolute;"><a href="#" data-id="{{ object.id }}" class="tableOpen"><img style="height: 15px; z-index:8999" class="blue_triangl" src="{{ asset('src/img/Blue_triangle.svg') }}"></a>
                <span id="tablePersent{{ object.id }}" class="tablePersentBuilder_34" style="position: absolute;top: 20px;left: 6px; z-index:9999; display: none"><table class="table table-bordered table-striped sonata-ba-list">
                    <thead>
                    <tr class="sonata-ba-list-field-header">
                        <th>Объект</th>
                        <th>Для ПрофБрони</th>
                        <th>Для агенст</th>
                        <th>Максимально возможный</th>
                        <th>Для партнеров</th>
                        <th>Для частных агентов</th>
                        <th>Дополнительные условия</th>
                    </tr>
                    </thead>
                    <tbody id="tableBodyPersentForBuilds_{{ object.id }}">

                    </tbody>
                </table></span></div>
            </td>
            {{ object|render_list_element(admin.list['percent_profbrony']) }}
            {{ object|render_list_element(admin.list['percent_for_you']) }}
            {{ object|render_list_element(admin.list['percent_max']) }}
            {{ object|render_list_element(admin.list['percent_prof_parther']) }}
            {{ object|render_list_element(admin.list['percent_private']) }}
            {{ object|render_list_element(admin.list['persent_dop']) }}
        </tr>
    {% endfor %}
    </tbody>

    <script type="text/javascript">
        // $.fn.editable.defaults.mode = 'popup';
        $('.tableOpen').on("click", function(e){
            e = e || window.event;
            e.preventDefault();
            var id_dev = $(this).data('id');
            var table = document.getElementById("tablePersent"+ id_dev);
            var boxTable = $('#tableBodyPersentForBuilds_' + id_dev);
            if(table.style.display == 'none'){
                $(this).html('<img style="height: 15px; z-index:8999" class="blue_triangl" src="/src/img/cancel.png">');
                {#a.attr('src').replace("","{{ asset('src/img/cansel.png') }}")";#}
                table.style.display = 'block';
                $.ajax({
                    url: '{{ (path('persentTable')) }}',
                    method: 'get',
                    data: {
                        "id_d": id_dev
                    },
                    success: function (data) {
                        boxTable.html("");
                        $.each( data, function(k, v) {
                            var elem = '<tr id="' + v.id + '"><td class="sonata-ba-list-field">' + v.name + '<a href="#"  class="tableBuilding" onclick="tableBuildings('+ v.id +', ' + id_dev +')"><img id="picture_trigle_cancel_' + v.id +'" style="height: 15px; z-index:8999;margin-left: 10px;" class="blue_triangl" src="/src/img/Blue_triangle.svg"></a></td>' +
                                '<td class="sonata-ba-list-field">'+
                                '<span href="#" \n' +
                                'class="x-editable" \n' +
                                'data-name="percent_profbrony" \n' +
                                'data-type="text" \n' +
                                'data-title="Для ПрофБрони" data-url="/persentTable/update"' +
                                'data-pk="' + v.id +
                                '">' + v.percent_profbrony + '</span></td>'+
                                '<td class="sonata-ba-list-field">' +
                                '<span href="#" \n' +
                                'class="x-editable" \n' +
                                'data-name="percent_for_you" \n' +
                                'data-type="text" \n' +
                                'data-title="Для агенст" data-url="/persentTable/update"' +
                                'data-pk="' + v.id +
                                '">' + v.percent_for_you + '</span></td>'+
                                '<td class="sonata-ba-list-field">' +
                                '<span href="#" \n' +
                                'class="x-editable" \n' +
                                'data-name="percent_max" \n' +
                                'data-type="text" \n' +
                                'data-title="Максимально возможный" data-url="/persentTable/update"' +
                                'data-pk="' + v.id +
                                '">' + v.percent_max + '</span></td>'+
                                '<td class="sonata-ba-list-field">' +
                                '<span href="#" \n' +
                                'class="x-editable" \n' +
                                'data-name="percent_prof_parther" \n' +
                                'data-type="text" \n' +
                                'data-title="Для партнеров" data-url="/persentTable/update"' +
                                'data-pk="' + v.id +
                                '">' + v.percent_prof_parther + '</span></td>'+
                                '<td class="sonata-ba-list-field">' +
                                '<span href="#" \n' +
                                'class="x-editable" \n' +
                                'data-name="percent_private" \n' +
                                'data-type="text" \n' +
                                'data-title="Для частных агентов" data-url="/persentTable/update"' +
                                'data-pk="' + v.id +
                                '">' + v.percent_private + '</span></td>'+
                                '<td class="sonata-ba-list-field">' +
                                '<span href="#" \n' +
                                'class="x-editable" \n' +
                                'data-name="percent_dop" \n' +
                                'data-type="textarea" \n' +
                                'data-title="Дополнительные условия" data-url="/persentTable/update"' +
                                'data-pk="' + v.id +
                                '">' + v.percent_dop + '</span></td></tr>';
                            boxTable.append(elem);
                            var elem1 = '<tr id="tr_object_' + v.id + '" style="display:none" class="sonata-ba-list-field-header builder_percents">\n' +
                                '<th>Дома</th>\n' +
                                '<th>Для ПрофБрони</th>\n' +
                                '<th>Для агенст</th>\n' +
                                '<th>Максимально возможный</th>\n' +
                                '<th>Для партнеров</th>\n' +
                                '<th>Для частных агентов</th>\n' +
                                ' <th>Дополнительные условия</th>\n' +
                                '</tr>';
                            boxTable.append(elem1);
                        });
                        $('.x-editable').editable({
                            success: function(response) {
                                var html = jQuery(response);
                                jQuery(this)
                                    .html(html);
                            }
                        });
                    }
                });
            }
            else{
                boxTable.html("");
                table.style.display = 'none';
                $(this).html('<img style="height: 15px; z-index:8999" class="blue_triangl" src="/src/img/Blue_triangle.svg">');
            }
        });

        function tableBuildings(id_ob, id_dev) {
            var strjs = document.getElementById("tr_object_"+ id_ob);
            var img = document.getElementById("picture_trigle_cancel_"+ id_ob);
            if(strjs.style.display == 'none') {
                img.src = "/src/img/cancel.png";
                strjs.style.display = 'table-row';
                strjs.style.backgroundColor = '#bbcfed';
                strjs.style.borderTop = '3px solid #ebebf0';

                $.ajax({
                    url: '{{ (path('persentTableBuilding')) }}',
                    method: 'get',
                    data: {
                        "id_o": id_ob
                    },
                    success: function (data) {
                        var str = $('#tr_object_' + id_ob);
                        $.each( data, function(k, v) {
                            var elemBuild = '<tr id="tr_build_' + v.id + '" class="tr_builder_object_'+ id_ob +'"><td class="sonata-ba-list-field">' + v.name + '</td>' +
                                '<td class="sonata-ba-list-field">'+
                                '<span href="#" \n' +
                                'class="x-editable" \n' +
                                'data-name="percent_profbrony" \n' +
                                'data-type="text" \n' +
                                'data-title="Для ПрофБрони" data-url="/persentTable/updateBuild"' +
                                'data-pk="' + v.id +
                                '">' + v.percent_profbrony + '</span></td>'+
                                '<td class="sonata-ba-list-field">' +
                                '<span href="#" \n' +
                                'class="x-editable" \n' +
                                'data-name="percent_for_you" \n' +
                                'data-type="text" \n' +
                                'data-title="Для агенст" data-url="/persentTable/updateBuild"' +
                                'data-pk="' + v.id +
                                '">' + v.percent_for_you + '</span></td>'+
                                '<td class="sonata-ba-list-field">' +
                                '<span href="#" \n' +
                                'class="x-editable" \n' +
                                'data-name="percent_max" \n' +
                                'data-type="text" \n' +
                                'data-title="Максимально возможный" data-url="/persentTable/updateBuild"' +
                                'data-pk="' + v.id +
                                '">' + v.percent_max + '</span></td>'+
                                '<td class="sonata-ba-list-field">' +
                                '<span href="#" \n' +
                                'class="x-editable" \n' +
                                'data-name="percent_prof_parther" \n' +
                                'data-type="text" \n' +
                                'data-title="Для партнеров" data-url="/persentTable/updateBuild"' +
                                'data-pk="' + v.id +
                                '">' + v.percent_prof_parther + '</span></td>'+
                                '<td class="sonata-ba-list-field">' +
                                '<span href="#" \n' +
                                'class="x-editable" \n' +
                                'data-name="percent_private" \n' +
                                'data-type="text" \n' +
                                'data-title="Для частных агентов" data-url="/persentTable/updateBuild"' +
                                'data-pk="' + v.id +
                                '">' + v.percent_private + '</span></td>'+
                                '<td class="sonata-ba-list-field">' +
                                '<span href="#" \n' +
                                'class="x-editable" \n' +
                                'data-name="percent_dop" \n' +
                                'data-type="textarea" \n' +
                                'data-title="Дополнительные условия" data-url="/persentTable/updateBuild"' +
                                'data-pk="' + v.id +
                                '">' + v.percent_dop + '</span></td></tr>';
                            str.after($(elemBuild));
                            str = $('#tr_build_' + v.id);
                            str.css("background-color", "#bbcfed");
                        });
                        str.css("border-bottom", "3px solid #ebebf0");
                        $('.x-editable').editable({
                            success: function(response) {
                                var html = jQuery(response);
                                jQuery(this)
                                    .html(html);
                            }
                        });
                    }
                    });
            }
           else {
                var trs = $('.tr_builder_object_'+ id_ob);
                trs.html("");
                img.src = "/src/img/Blue_triangle.svg";
                strjs.style.display = 'none';
                strjs.style.borderTop = 'none';
            }
        }

    </script>
{% endblock %}

