<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}ПрофБронь{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
        <link rel="stylesheet" href="{{ asset('build/main.css') }}">
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    {% endblock %}
    {% block stylesheets_dop %}
    {% endblock %}
    {#<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>#}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
</head>
<body class="body {{ app.request.attributes.get('_route') == 'index' ? 'body--background-image' }}
                  {{ app.request.attributes.get('_route') == 'search_result' ? 'city--background-image body--sidebar-mini sidebar-mini sidebar-collapse' }}
                  {{ app.request.attributes.get('_route') == 'search_map' ? 'city--background-image body--sidebar-mini sidebar-mini sidebar-collapse' }}
                  {{ app.request.attributes.get('_route') == 'show_building' ? 'city--background-image body--sidebar-mini sidebar-mini sidebar-collapse' }}
                  {{ app.request.attributes.get('_route') == 'profile_agent' ? 'city--background-image' }}
                  {{ app.request.attributes.get('_route') == 'profile_developer' ? 'city--background-image' }}">
    <div class="wrapper">
        {% block navbar %}
            {{ include('main/_templates/navbar.html.twig') }}
        {% endblock %}

        {% block sidebar %}
            {{ include('main/_templates/sidebar_nav.html.twig') }}
        {% endblock %}

        {% block header %}
            {{ include('main/_templates/header.html.twig') }}
        {% endblock %}

        {% block filter %}
            {{ include('main/_templates/filter.html.twig') }}
        {% endblock %}

        {% block content %}{% endblock %}

    </div>

    {% block footer %}
        {{ include('main/_templates/footer.html.twig') }}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/vendor.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('build/main.js') }}"></script>
    {% endblock %}
    {% block javascripts_dop %}
    {% endblock %}

</body>
</html>
