@import "variables.less";

// Шахматка Фронт
.building-info {
  //display: flex;
  margin-left: -15px;
  margin-right: -15px;
  color: gray;
  .building-board {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .box {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      table {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        tr {
          td {
            padding: 0;
            border: 2px solid white;
            border-radius: 23%; // скругление ячейки
            position: relative;
            div {
              //width: 65px;
              min-width: 50px;
              //max-width: 70px;
              //height: 40px;
              min-height: 40px;
              //display: table-cell;
              display: flex;
              justify-content: center;
              align-items: center;
              //text-align: center;
              //vertical-align: middle;
              border: 1px solid gray;
              border-radius: 6px; // скругление содержимого ячейки
              padding-left: 2px;
              padding-right: 2px;
              white-space: normal;
              line-height: 1;
            }
            .building-board__cell {
              padding: 2px 2px 0;
              //padding: 0;
              line-height: 1;
              flex-direction: column;
              position: relative;
              .building-board__line {
                display: block;
                white-space: nowrap;
                span {
                  display: inline-block;
                  font-size: 12px;
                }
                &--room-count {
                  font-size: 14px !important;
                  text-decoration: underline;
                  //float: left;
                  font-weight: bold;
                }
                &--room-square {
                  //float: right;
                }
                &--room-price {
                  float: left;
                  font-size: 16px;
                }
                &:first-child {
                  margin-bottom: 4px;
                }
                &:last-child {
                  margin-bottom: 0;
                  white-space: nowrap;
                }
              }

            }
            &:first-child { // Ячейка "Номер этажа"
              div {
                background: gray;
                font-weight: bold;
                font-size: 16px;
                color: white;
                max-width: 40px;
                min-width: 30px;
              }
            }
            .building-board__item-checked { // Выбранная квартира в ячейке
              //border: 1px solid white!important;
              border:none!important;
              position: absolute;
              top: -1px;
              right: -1px;
              min-width: 9px!important;
              min-height: 9px!important;
              background-color: @red;
              box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
            }
          }
        }
        .building-board__row {
          td {
            &:not(:first-child) { // Ячейки квартир
              cursor: pointer;
              &.building-board__row--item-checked { // Выбранная квартира
                div {
                  color: white;
                }
              }
              &.building-board__row--item-reserved { // Зарезервированна
                div {
                  color: white;
                }
              }
              &.building-board__row--item-action { // Акция
                div {
                  //border-style: dashed;
                  //border-color: @action;
                  border: 2px dashed @action;
                }
              }
              &.building-board__row--item-repair { // С ремонтом
                div {
                  border: 2px solid @red;
                  //border-color: @red;
                }
              }
              &.building-board__row--item-selling { // В продаже от инвестора
                div {
                  color: white;
                }
              }
              &.building-board__row--item-depositor-reserved { // Инвестор-резерв
                div {
                  border-style: dashed;
                  border-color: @depositor-border;
                }
              }
              &:hover {
                background: @gray-lte;
              }
            }
          }
        }
      }
    }
    &__row--item-checked { // Выбранная квартира
      background: @red !important;
    }
    &__row--item-reserved { // Зарезервированна
      background: @reserved;
    }
    &__row--item-selling{ // В продаже от инвестора
      background: @booked;
    }
    &__row--item-action { // Акция
      border-style: dashed;
      border-color: @action;
    }
    &__row--item-sold { // Продано
      background: @sold;
      color: white;
    }
    &__row--item-depositor-booked { // Забронированно
      background: @depositor-border;
      color: white;
    }
    &__row--item-repair { // С ремонтом
      border-color: @red;
    }
    &__row--item-depositor-reserved { // Инвестор-резерв
      border-style: dashed;
      border-color: @depositor-border;
    }
    .building-board__item-checked { // Выбранная квартира в ячейке
      border: 8px solid @red;
      border-radius: 8px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    }
  }
}

.building-board__cell-markers {
  li {
    display: inline-block;
    span {
      display: inline-block;
      width: 15px;
      height: 15px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin-left: 5px;
      position: relative;
      vertical-align: sub;
    }
  }
}

// выравнивание планировок по центру
.js-floor-layout {
  #layout-canvas {
    //width: 100%!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    ////margin: 0 auto;
    background-size: contain!important;
    //height: 0;
    //padding-top: 48%;
    //position: relative;
    //
    //width: 100%;

    margin: 0 auto;
    svg {
      //position: absolute;
      //top: 0;
      //left: 0;
      //width: 100vw;
      //height: (9/16 * 100)vw;
      //max-height: 100vh;
      //max-width: (9/16 * 100)vh;
    }
  }
}

//.building-info {
//  [class^=col] {
//    flex-direction: column;
//    justify-content: space-between;
//    &:last-child {
//      height: 100%;
//    }
//  }
//}

// табы переключатели
.building-info {
  .nav-tabs-custom {
    box-shadow: none;
    & > {
      .nav-tabs {
        display: inline-block;
        border: none;
        &:not(:last-child) {
          margin-right: 10px;
        }
        & > {
          li {
            border: none;
            font-size: 18px;
            margin: 0;
            a {
              //background: none;
              border: none;
              padding: 3px 10px;
              &:active {
                background-color: @red;
              }
              &:focus {
                background-color: @red;
              }
            }
          }
          li.active {
            background-color: @red;
            & > {
              a {
                background-color: @red;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

// высота box-header в шахматке и карточках
.box-header--height {
  height: 47px;
}

#flat-card {
  .box-body {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .flat-card__header-text {
    font-size: 18px;
    display: inline-block;
  }
  .media-object {
    height: 60px;
  }
  .media-object.icon {
    height: 15px;
    display: inline-block;
  }
  .media {
    .media-body {
      p {
        margin-bottom: 0;
      }
      [class^=flat-status] {
        padding: 0 16px;
        margin-bottom: 10px;
      }
      .flat-status__free {
        border: 2px solid green;
        color: green;
        font-weight: 500;
        width: max-content;
        font-size: 19px;
      }
      .form-control {
        width: initial;
      }
      .btn-success {
        width: 150px;
      }
    }
    .media-left {
      vertical-align: middle;
    }
    &:first-child {
      margin-top: 8px;
    }
  }
  .flat-card__dots {
    display: inline-block;
    height: 16px;
  }
  .flat-card__line {
    border-bottom: 1px solid #b5b5b5;
    //line-height: 1.2;
    height: 16px;
    margin-bottom: 5px;
    max-width: 250px;
    .flat-card__lead-text, .flat-card__dinamic-text {
      background-color: white;
    }
    .flat-card__lead-text {
      padding-right: 15px;
    }
    .flat-card__dinamic-text {
      padding-left: 15px;
      //padding-top: 2px;
    }
  }
  .flat-card__price {
    .flat-card__line {
      .flat-card__lead-text {
        padding-right: 5px;
      }
      .flat-card__dinamic-text {
        padding-left: 5px;
      }
    }
  }
}


@media screen and (max-width: 1200px) and (min-width: 992px) {
  #flat-card {
    font-size: 12px;
    .flat-card__price {
      .flat-card__line {
        //border: none;
        .flat-card__lead-text {
          padding-right:0;
        }
        .flat-card__dinamic-text {
          padding-left: 0;
        }
      }
    }
    .media-object {
      height: 40px;
    }
    .box-footer {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  #flat-card {
    .box-body {
      flex-direction: column;
      [class^=col-] {
        width: 100%;
      }
      [class^=col-]:nth-child(3) {
        order: -1;
      }
    }
  }
}