@import "variables.less";
/*
 * Component: Button
 * -----------------
 */
// Main buttons

.btn {
  transition: all 500ms ease 0s;
}

.btn-main {
  background-color: @red;
  border-color: darken(@red, 5%);
  color: white;
  &:hover, &:active, &.hover, &:focus {
    background-color: darken(@red, 5%);
    color: white;
  }
}

.btn__pad {
  padding: 5px 27px;
}

.btn__search {
  width: 100%;
}

.btn-map {
  transition: all 300ms ease 0s;
  //background: url(/src/img/bg_btn_map.jpg) no-repeat center center / cover;
  //background-color: rgb(82, 82, 82);
  //background-blend-mode: screen;
  background-position: center center!important;
  background-size: cover!important;
  border-color: #ccc;
  font-weight: 500;
  color: #555;
  //text-shadow: 2px 2px 20px rgba(255, 255, 255, 1);
  &:hover {
    border-color: #adadad;
  }
  &:active {
    background: inherit;
  }
}

.btn-map, .btn-default {
  &:hover {
    color: @red-link;
  }
}


.btn-link,
.btn-box-tool {
  box-shadow: none;
}
.btn-link {
  color: @red-link;
  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
    color: @link-hover-color;
    box-shadow: none!important;
  }
}


// Тени кнопок
.btn:hover {
  box-shadow: 0 14px 26px -12px rgba(3, 169, 244, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(3, 169, 244, 0.2);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  &:active:focus {
    outline: none;
  }
}
