@import "variables.less";
.js-floor-layout-app {
  .js-floor-layout-app-form {
    display: none;
    .js-add-floor-to-layout {

    }
  }
  .layout-canvas-wrapper {
    overflow: scroll;
    border: 3px lightgray solid;
    padding: 5px;
    #layout-canvas {
      border: 1px lightgray solid;
    }
  }
}

// Стили шахматки для админки

.flat-board-wrapper {
  float: left;
  padding: 10px;
  background-color: white;
  .js-block-board {
    margin-left: auto;
    margin-right: auto;
    tr {
      td {
        min-width: 50px;
        height: 50px;
        padding: 3px;
        span {
          width: 45px;
          height: 45px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          background: lightgray;
          color: gray;
        }
        &:first-child {
          span {
            border: 1px solid gray;
            background: white;
            font-weight: bold;
            font-size: 16px;
          }
        }
        &.checked {
          span {
            background: lightblue!important;
            color: black!important;
          }
        }
      }
      &.selected {
        td:not(:first-child) {
          span {
            background: @red;
            color: white;
            &:hover {
              cursor: pointer;
              background-color: lightgray;
            }
          }
        }
      }
      &.active:not(.selected) {
        td:not(:first-child) {
          span
          {
            background-color: white;
            border: 1px solid @red;
            &:hover {
              cursor: pointer;
              background-color: lightgray;
            }
          }
        }
      }
    }
  }
}

