@import "variables.less";
/*
 * Component: Form
 * ---------------
 */
.form-control {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  height: 28px;
  font-size: 13px;
  color: @placeholder;
  background-color: white;
  background-image: none;
  border-radius: 3px;
  //box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset;
  padding: 5px 7px;
  border-color: @gray-lte;
  &:focus, &:active {
    border-color: @red;
    z-index: 5;
  }
}

// Select2
.select2-container--default {
  .select2-selection--multiple, .select2-selection--single {
    border-radius: @border-radius;
    height: 28px;
    border-color: @gray-lte;
    .select2-selection__choice {
      background-color: @red;
      border-color: @red;
      margin-top: 3px;
      display: inline-flex;
    }
    .select2-selection__choice__remove {
      margin-right: 2px;
      margin-left: 0;
      float: right;
      color: white;
      font-size: 16px;
    }
  }
  .select2-selection--multiple {
    .select2-selection__clear {
      margin-top: 3px;
    }
    .select2-selection__choice {
      line-height: 18px;
    }
  }
  .select2-selection--single {
    .select2-selection__rendered {
      padding-left: 0;
      padding-right: 15px;
      line-height: 24px;
      .select2-selection__placeholder {
        color: @placeholder;
      }
    }
  }
  &.select2-container--focus {
    .select2-selection--multiple, .select2-selection--single {
      border-color: @red;
    }
  }
  .select2-search--inline {
    .select2-search__field {
      float: left;
      position: relative;
      display: inline-block;
      &:focus {
        border: none;
      }
    }
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: @red;
    color: white;
  }
  .select2-selection__clear {
    margin-right: 5px;
    right: -12px;
    font-size: 16px;
  }
  .select2-search--dropdown {
    padding: 0;
    .select2-search__field {
      display: none;
    }
  }
}

.select2-container {
  font-size: 13px;
  .select2-selection--multiple, .select2-selection--single {
    min-height: 28px;
  }
  .select2-selection--multiple {
    .select2-selection__rendered {
      display: flex;
    }
  }
  .select2-dropdown {
    font-size: 13px;
    border-color: @red;
  }
}