@import "variables.less";

* {
  margin: 0;
  padding: 0;
}
// Тонкий шрифт заголовков и текста
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

html, body {
  height: 100%!important;
}

.wrapper {
  height: initial!important;
  min-height: 100%;
  padding-bottom: 90px;
}

body, .wrapper {
  background-color: #f4f4f4;
}

.body--background-image {
  .wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
}

a {
  color: @red;
  transition: all 500ms ease 0s;
  &:hover, &:active, &:focus {
    color: @red-link;
  }
}

// Тень контейнера Box
.box-shadow {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.box-shadow--light {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.pad-15 {
  padding: 15px;
}

.bg-accent { // Экшин цвет фона
  background-color: @red;
  color: white !important;
}

.bg-white { // Белый фон - темные буквы
  background-color: white;
  color: @gray !important;
}

.label-white {
  background-color: white;
  color: @gray;
}

.text-white {
  color: #fff;

}

.text-accent { // Экшин цвет текста
  color: @red;
}

.text-bold {
  font-weight: 600;
}

.text-weight-light {
  font-weight: 300;
}

.border-top-radius {
  border-top-left-radius: @border-radius;
  border-top-right-radius: @border-radius;
}

.error-page {
  width: 100%;
  top: 30vh;
  position: relative;
  button[type=submit] {
    height: 28px;
    .fa {
      top: -2px;
      position: relative;
    }
  }
}

.rowEdit i {
  font-size: 16px;
}

.on-hover__pointer:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .wrapper {
    padding-bottom: 130px;
  }
}