//
//@media (min-width: 768px) {
//  .user-side {
//    .navbar-nav {
//      float: right;
//    }
//  }
//}
//
//@media (min-width: 991px) {
//
//}
//
//
//@media (min-width: 1200px) {
//
//}
//
//
//@media (max-width: 1199px) {
//  .input-icheck {
//    label {
//      float: none !important;
//    }
//  }
//
//}
//
//@media (max-width: 991px) {
//  .building-info {
//    display: block!important;
//  }
//}


