@import "variables.less";

.profile-page {
  &__header {
    padding: 15px 0;
    .widget-user-2 {
      margin-bottom: 0;
      background: url(../../src/img/footer-bg.png) no-repeat center center;
      background-size: cover;
      background-color: #f1f1f1;
      background-blend-mode: screen;
      .widget-user-image img {
        width: 65px;
        height: auto;
        float: left;
        border: 3px solid #fff;
      }
      .widget-user-header {
        padding: 15px;
        .widget-user__desc {
          .widget-user-username {
            margin-bottom: 5px;
          }
          .widget-user-username, .widget-user-desc {
            margin-left: 0;
          }
          h4 {
            display: inline-block;
            &:first-child {
              margin-right: 10%;
            }
          }
        }
      }
      .box-footer {
        background: none;
      }
    }
  }
  &__header-text {
    margin-top: 25px;
    span {
      &:not(:first-child) {
        margin-left: 5%;
        white-space: nowrap;
      }
    }
  }
  &__header-btn {
    display: block;
    padding: 5px 0;
    font-size: 18px;
    .widget-user-desc{
      margin-left: 50px;
    }
  }
  .box-header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  &__title {
    font-weight: 500;
  }
  .profile-table {
    &__item-wrapper {
      .profile-table__item-checkbox {
        float: left;
        input {
          position: absolute;
          left: -9999px;
          &:checked + label {
            background: @btn-bg-grey;
            box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
          }
        }
        label {
          display: block;
          margin: 0 0 0 -1px;
          padding: 2px 10px;
          border: 1px solid #bbb;
          background: #fff;
          box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
          cursor: pointer;
          color: @placeholder;
          white-space: nowrap;
          font-weight: 400;
          font-size: 12px;
        }
        &:first-child {
          label {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
        }
        &:last-child {
          label {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
    &__brony {
      &--price { // строка "Цена на момент бронирования 100%"
        @media (max-width: 1199px) {
          span {
            &:first-child {
              margin-right: 5px;
              border-bottom: 1px solid @table-text;
            }
            &:last-child {
              display: block;
              margin-top: 3px;
            }
          }
        }
      }
    }
  }
  .profile-page__logo-img {
    width: 200px;
    height: auto;
  }
  .modal-header {
    button.close {
      color: white;
      opacity: 0.7;
      font-size: 30px;
      font-weight: normal;
      right: 10px;
      top: 5px;
      position: relative;
      &:hover {
        opacity: 1;
      }
    }
    .widget-user {
      margin-bottom: 0;
      &-header {
        background-color: rgba(0, 0, 0, 0.4)!important;
        background-blend-mode: darken;
        .widget-user-username {
          margin-top: 5px;
          margin-bottom: 5px;
          font-size: 25px;
          font-weight: 300;
          margin-left: 115px;
        }
        .widget-user-desc {
          margin-left: 115px;
          margin-top: 0;
        }
        .widget-user-image {
          top: 10px;
          left: initial;
          margin-left: 0;
          img {
            width: 100px;
          }
        }
      }
    }
  }
}


