@import "variables.less";
.search-result, .dataTables_wrapper {
  table {
    background-color: @table-bg-main;
    border-color: @table-border;
    thead {
      tr {
        th {
          background-color: @table-head;
          border-color: @table-border;
          border-bottom-width: 0;
          vertical-align: middle;
          color: @table-text;
          //white-space: nowrap;
          padding: 5px;
          font-weight: 400;
          //border-color: lighten(@gray-lte, 5%);
        }
      }
    }
    &.dataTable {
      thead {
        tr {
          th {
            &.sorting, &.sorting_asc, &.sorting_desc {
              padding-right: 10px;
              //white-space: nowrap;
            }
            &.sorting {
              &:after {
                opacity: 0.5;
              }
            }
            &.sorting_asc, &.sorting_desc {
              &:after {
                opacity: 0.8;
              }
            }
            &:after {
              position: relative;
              display: inline-block;
              bottom: -2px;
              right: -5px;
              white-space: nowrap;
              font-size: 12px;
            }
          }
        }
      }
      tbody {
        tr.child { // шапка в раскрывающемся столбце для моб устройств
          .child {
            text-align: left;
          }
          span.dtr-title {
            min-width: 100px;
            font-weight: 500;
          }
          .dtr-data {
            [class^=hidden] {
              display: inline-block!important;
            }
          }
        }
      }
    }
    tbody {
      tr {
        transition-duration: .28s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-property: background-color;
        td {
          border-color: @table-border;
          color: @table-text;
          line-height: 16px;
          vertical-align: middle;
          .room-count-icon {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .search-result__complex {
          text-align: left;
          white-space: normal;
          &--viewtext {
            display: block;
            white-space: normal;
          }
          a {

          }
        }
      }
    }
  }
  &__kolychestvo-komnat {
    white-space: nowrap;
    &--icon {
      white-space: normal;
      .fa {
        font-weight: 600;
        display: inline;
      }
    }
  }
  &__complex, &__district {
    vertical-align: middle;
    span {
      white-space: nowrap;
    }
  }
  .table-hover > tbody > tr:hover {
    background-color: #f5f5f5!important;
  }
  .form-control {
    border-radius: 3px;
  }
}

.pagination {
  li {
    a {
      height: 30px;

    }
    &:first-child, &:last-child {
      a {
        font-size: 24px;
        line-height: 1.05;
        padding: 0 12px;
      }
    }
  }
  .active {
    a {
      background-color: @red;
      border-color: @red;
      &:hover, &:focus {
        background-color: darken(@red, 5%);
        border-color: darken(@red, 5%);
      }
    }
  }
}

// Datatables строка поиска и выбора количества показа на странице
div {
  &.dataTables_wrapper {
    div {
      &.dataTables_length {
        .select2-selection__rendered {
          padding-right: 0;
          .select2-selection__clear {
            display: none;
          }
        }
      }
    }
  }
}

select.input-sm {
  height: 28px;
  line-height: 28px;
}

.nav-tabs-pos {
  position: relative;
  top: 11px;
  //right: 15px;
  .btn.active {
    background-color: @red;
    color: white;
    box-shadow: none;
  }
  .btn {
    &:active, &:focus {
      background-color: @red;
      color: white;
      box-shadow: none;
    }
    &:hover {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
  }
  .nav-tabs {
    border: none;
  }
}

.tab-view {
  padding: 6px 9px;
  .fa {
    margin-right: 3px;
  }
}

.search-result {
  .thumbnail {
    height: 100%;
    //min-height: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1199px) {
  .search-result {
    table {
      &.dataTable {
        .search-result__complex {
          .search-result__complex-view {
            &--desc {
              font-size: 18px;
              padding: 0 5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .search-result {
    table {
      &.dataTable {
        thead {
          tr {
            th {
              &.sorting, &.sorting_asc, &.sorting_desc {
                padding: 2px;
                white-space: normal;
              }
              &.sorting {
                &:after {
                  opacity: 0.5;
                }
              }
              &.sorting_asc, &.sorting_desc {
                &:after {
                  opacity: 0.8;
                }
              }
              &:after {
                display: block;
                bottom: -2px;
                right: 0;
                white-space: normal;
                padding: 5px;
              }
            }
          }
        }
      }
    }
    .search-result-thumbnail {
      padding-top: 50px;
    }
  }
  .nav-tabs-pos {
    //float: none!important;
    //display: inline-block;
    position: absolute;
    z-index: 100;
    top: initial;
    right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    .tab-view {
      float: none!important;
      display: inline-block;
      padding-left: 0;
    }
    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }
  div { // Datatables строка поиска и выбора количества показа на странице
    &.dataTables_wrapper {
      div {
        &.dataTables_length {
          text-align: left;
          margin-bottom: 10px;
          .search-result-table_length-icon {
            margin-left: 10px;
          }
        }
        &.dataTables_filter {
          text-align: left;
          input {
            margin-left: 0;
          }
        }
      }
    }
  }
}
