@import "variables.less";
.body--sidebar-mini {
  //margin-right: 50px;
  .main-sidebar {
    //top: 100px;
    z-index: 1050!important;
    position: absolute;
    display: block;
    right: 0;
    left: inherit;
    padding-top: 0;
    //opacity: .5;
    //transition: all 500ms ease 0s;
    //background-color: white;
    //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    //&:hover {
    //  opacity: 1;
    //}
    .sidebar {
      position: absolute;
      right: 0;
      left: 0;
      padding-top: 10px;
      background-color: @carla;
      box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 3px;
      .navbar-nav {
        > .messages-menu {
          > .dropdown-menu {
            > li {
              .menu {
                > li {
                  > a {
                    border-color: #eee;
                    > .h4 {
                      padding: 0;
                      margin: 0 0 0 45px;
                      color: #444444;
                      font-size: 15px;
                      position: relative;
                      white-space: normal;
                      small {
                        margin-top: 5px;
                        margin-left: 5px;
                      }
                      img {

                      }
                    }
                    &:hover {
                      > .h4 {
                        color: white;
                      }
                      p {
                        color: @gray-lighter;
                      }
                    }
                    p {
                      text-align: left;
                      white-space: normal;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .navbar-nav {
        float: none;
        li {
          float: none;
        }
        > .user-menu, .notifications-menu, .messages-menu {
          > .dropdown-menu {
            width: 280px;
            border: none;
            border-top-left-radius: 3px;
            li {
              &.user-header {
                border-top-left-radius: 3px;
              }
              &.user-footer {
                border-bottom-left-radius: 3px;
              }
              &.header {
                color: white;
              }
              &.footer {
                a {
                  border-top: 1px solid #ddd;
                }
              }
              &.user-header, &.header {
                background-color: @red;
                border-top-right-radius: 0;
              }
              &.user-header, &.header, &.footer {
                text-overflow: ellipsis;
                a {
                  &:hover {
                    color: @red-link!important;
                  }
                }
              }
              .menu {
                min-height: 150px;
                white-space: normal;
                li {
                  a {
                    text-align: left;
                  }
                }
              }
              > p {
                font-size: 20px;
              }
              img {
                border: 2px solid white;
              }
            }
          }
          .user-image {
            float: none;
            margin-right: 0;
            width: 40px;
            height: 40px;
            border: 2px solid white;
          }
        }
        // здесь настройка общего dropdown окна
        .dropdown-menu {
          box-shadow: -4px 2px 10px rgba(0, 0, 0, 0.275);
          //transition: all 0.3s ease-in-out;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          position: absolute;
          background-color: @carla;
          left: -280px;
          padding: 0;
          top: 0;
        }
        .user-menu {
          a {
            padding-left: 5px;
          }
        }
        > .notifications-menu > .dropdown-menu, .messages-menu > .dropdown-menu {
          width: 280px;
        }
        .notifications-menu > .dropdown-menu > li .menu > li > a:hover, .messages-menu > .dropdown-menu > li .menu > li > a:hover {
          color: white;
          background-color: @red;
        }
        .notifications-menu > .dropdown-menu > li.header, .messages-menu > .dropdown-menu > li.header {
          display: block!important;
        }
        .open { // настройка пункта меню при раскрытом dropdown окне
          .dropdown-toggle {
            background-color: @red;
            z-index: 1001;
            .fa {
              color: white;
            }
            .label {
              color: @black!important;
              background-color: white!important;
            }
          }
        }
      }
      .sidebar-menu {
        > li {
          > a {
            padding: 10px 10px 10px 15px;
            color: @gray-dark;
            .fa {
              margin: 0 auto;
              display: block;
            }
            .label {
              position: absolute;
              top: 9px;
              right: 7px;
              text-align: center;
              font-size: 9px;
              padding: 2px 3px;
              line-height: .9;
              display: inline!important;
              &:hover {
                display: inline!important;
              }
            }
            &:hover { // настройка пункта меню при наведении
              background-color: @red;
              z-index: 1001;
              .fa {
                color: white;
              }
              .label {
                color: @black!important;
                background-color: white!important;
              }
            }
          }
        }
      }
    }
  }
}

.usersidebar-image {
  img {
    width: 40px;
    height: 40px;
    transition: all 0.1s ease-in-out;
  }
}

// MIN
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right) {
    width: 10px;
    left: initial;
    margin-right: 6px;
  }
}

// MIN
@media (max-width: 767px){
  .body--sidebar-mini {
    margin-right: 0;
    .main-sidebar {
      z-index: 1030!important;
      position: relative;
      width: auto;
      transform: translate(0, 0);
      background-color: @carla;
      //float: right;
      border-radius: 3px;
      margin-bottom: 8px;
      margin-right: 15px;
      margin-left: 15px;
      padding-right: 15px;
      padding-left: 15px;
      //box-shadow: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      &:after {
        content: "";
        clear: both;
        display: table;
      }
      .sidebar {
        position: inherit;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 3px;
        box-shadow: none;
        // По ветке dropdown
        .navbar-nav {
          li {
            float: right;
            .dropdown-menu {
              width: auto;
              right: 15px;
              top: 41px;
              left: auto;
              position: fixed;
              background-color: @carla;
              box-shadow: 0 6px 10px rgba(0, 0, 0, 0.375);
              li {
                width: 100%;
              }
            }
            .navbar-brand {
              padding: 9px 0 2px 0;
              height: auto;
              &:hover {
                background-color: transparent;
                color: @red-link;
              }
            }
            &.user-menu {
              .usersidebar-image {
                padding: 6px 5px 5px;
                .user-image {
                  margin-top: 0;
                  width: 30px;
                  height: 30px;
                }
              }
              //.dropdown-menu {
              //  left: -240px;
              //}
            }
            &.notifications-menu, &.messages-menu {
              .dropdown-toggle {
                padding: 15px 10px 12px 16px;
              }
            }
            &.open {
              &:first-of-type {
                a {
                  border-bottom-right-radius: 0;
                }
              }
              &:last-of-type {
                a {
                  border-bottom-left-radius: 0;
                }
              }
            }
            &:first-of-type {
              a {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
              }
            }
            &:last-of-type {
              a {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .body--sidebar-mini {
    .main-sidebar {
      .sidebar {
        .navbar-nav {
          li {
            &.notifications-menu, &.messages-menu {
              .dropdown-toggle {
                padding: 15px 6px 12px 12px;
              }
            }
            .dropdown-menu {
              position: fixed;
              left: auto!important;
              right: 0;
              float: none;
            }
          }
        }
      }
    }
  }
}