@import "variables.less";
// Яндекс карты на странице поиска
.search-result-map {
  width: 100%;
  height: 600px;
  //padding: 10px;
  overflow:hidden;
  border: 1px solid #ccc;
  #map {
    width: 100%;
    height: 100%;
    .search-map__item-image {
      //height: 250px;
      //width: auto;
      img {
        height: 250px;
        width: auto;
      }
    }
  }
}

@media (max-width: 479px) {
  .search-result-map {
    height: 500px;
    padding: 0;
  }
}
