{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="register-box">

    <div class="register-logo">
        <a href="/"><b>Проф</b>Брони</a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Регистрация</p>

        {{ form_widget(form) }}

        <input type="submit" class="btn btn-primary btn-block btn-flat" value="{{ 'registration.submit'|trans }}"/>

        <a href="{{ path('fos_user_security_login') }}" class="text-center"> У меня уже есть аккаунт</a>
    </div>
</div>

{{ form_end(form) }}
