{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}


{% block stylesheets_dop %}
    <style>
        .wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .wrapper .fos_user_change_password{
            margin-top: 53px;
        }
    </style>
{% endblock %}