@import "../variables.less";
.body {
  &--background-image {
    background: url(../../img/moskva-centr.jpg) no-repeat center center fixed;
    background-color: rgba(50, 15, 76, 0.5);
    background-blend-mode: darken;
    background-size: cover;
    //&:after {
    //  position: absolute;
    //  width: 100%;
    //  height: 100%;
    //  display: block;
    //  left: 0;
    //  top: 0;
    //  content: "";
    //  background: -webkit-linear-gradient(135deg, rgba(101, 47, 142, 0.38) 0%, rgba(50, 25, 70, 0.45) 100%);
    //}
  }
  &.city--background-image {
    background: url(../../img/cityscape-sketch.jpg) no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.85);
    background-blend-mode: lighten;
    background-size: cover;
  }
  &--background-image, &.city--background-image {
    .wrapper {
      background: none;
    }
  }
}

