@import "../variables.less";

.breadcrumb {
  padding: 15px 0;
  z-index: 1;
  background-color: transparent;
  .active {
    font-size: 20px;
    font-weight: 400;
    &:before {
      font-size: initial;
      font-weight: initial;
    }
  }
}

.breadcrumb-cont {
  .breadcrumb {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .breadcrumb-cont {
    .breadcrumb {
      display: block;
    }
  }
}