@import "../variables.less";

// Фильтр на главной незарегистрированного пользователя
.body--background-image {
  .filter {
    //top: 42vh;
    border-radius: @border-radius;
    margin-top: 10%;
    //position: absolute;
    //left: -15px;
    //right: 0;
    &__item {
      &:first-of-type {
        display: none;
      }
    }
  }
  //&.modal-open {
  //  overflow: hidden;
  //}
  // JS смена цвета фильтра на главной незарегистрированного пользователя
  .active-filter {
    background-color: @carla;
    //padding-bottom: 15px;
  }
  .default-filter {
    background-color: @carla-transparent;
  }
}

.modal-open {
  padding-right: 0 !important;
}

.filter {
  transition: all 250ms ease 0s;
  z-index: 1029;
  position: relative;
  //right: 15px;
  box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.2);
  color: black;
  background-color: @carla;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0 65px 0 15px;
  padding: 10px 15px 0;
  top: 0;
  &--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  input {
    //width: 100%!important;
    &::placeholder {
      color: @placeholder;
    }
  }
  &__item {
    margin-right: 5px;
    margin-bottom: 10px;
    order: 2;
    .form-control {
      width: 100%!important;
    }
    &.filter__brand { // 1-й инпут
      order: 1;
    }
    &.filter__deadline { // 3-й инпут
      flex-grow: 2;
      //flex-basis: 150px;
      max-width: 200px;
      .select2 {
        width: 100%!important;
      }
    }
    &.filter__kolichestvo-komnat { // 4-й инпут
      flex-grow: 2;
      flex-basis: 150px;
      max-width: 300px;
      select[multiple] {
        height: 28px;
      }
    }
    &.filter__price { // 5-й инпут
      flex-grow: 3;
      flex-basis: 250px;
      max-width: 320px;
    }
    &.filter__live-search { // 7-й инпут
      flex-grow: 3;
      flex-basis: 220px;
      max-width: 250px;
    }
    &.filter__btn {
      flex-grow: 3;
      max-width: 500px;
      .btn-group {
        display: flex;
        & > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
        }
        & > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
          border-radius: 3px;
          margin-right: 10px;
        }
        & > .btn:last-child:not(:first-child) {
          border-bottom-left-radius: 3px;
          border-top-left-radius: 3px;
        }
      }
      .btn-block {
        margin-top: 0;
        margin-right: 10px;
        &:last-of-type {
          margin-right: 0;
        }
      //.filter__btn-more {
        //.js-filter__arrow {
        //  height: 26px;
        //  position: absolute;
        //  top: 1px;
        //  right: 1px;
        //  width: 20px;
        //  transition: transform 0.3s;
        //  b {
        //    border-color: #888 transparent transparent transparent;
        //    border-style: solid;
        //    border-width: 5px 4px 0 4px;
        //    height: 0;
        //    left: 50%;
        //    margin-left: -4px;
        //    margin-top: -2px;
        //    position: absolute;
        //    top: 50%;
        //    width: 0;
        //  }
        //}
        //.js-filter__arrow-flip {
        //  transform: rotate(-180deg);
        //}
      }
    }
  }
  &__item-brand {
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 400;
    b {
      font-weight: 900;
    }
  }
  &__item-districts {
    .dropdown-menu {
      width: 100%;
      box-shadow: 4px 8px 35px rgba(0, 0, 0, 0.16);
      z-index: 1051;
      top: 46px;
      border-radius: 0 0 3px 3px;
      .checkbox-sub {
        margin-left: 15px;
      }
      @media (min-width: 768px) {
        .form-inline .radio, .form-inline .checkbox {
          display: block;
        }
      }
      label {
        display: block;
        font-size: 12px;
        white-space: nowrap;
      }
    }
    &--btn {
      padding: 3px 12px;
      background-color: white;
      border-color: @gray-lte;
      color: @placeholder;
      font-weight: 300;
      font-size: 13px;
      height: 28px;
      &:hover {
        box-shadow: none;
        border-color: @red;
      }
      &:active, &:focus {
        border-color: @red;
      }
    }
  }
  &__item-price {
    margin-right: 0!important;
    //width: 50%!important;
    &:focus {
      z-index: 5;
    }
    &:last-of-type {
      margin-left: -3px;
    }
    &:last-child:focus {
      border-left-color: @red;
    }
  }
  &__item-building-price {
    display: inline-block;
    margin-left: -4px;
    white-space: nowrap;
    .iradio_line {
      height: 28px;
      padding: 4px 10px 5px 6px;
    }
    [class^=iradio] {
      display: inline-block;
      background: white;
      color: @placeholder;
      padding-left: 8px;
      padding-right: 8px;
      white-space: nowrap;
      border: 1px solid @gray-lte;
      margin-bottom: 0;
      margin-top: 0;
      &:first-child {
        border-radius: 0;
        margin-right: 0;
        margin-left: 0;
      }
      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -4px;
      }
      &.checked {
        background: @red;
        color: white;
        border-color: transparent;
        .fa {
          color: white;
        }
      }
      .fa {
        margin-right: 5px;
      }
    }
  }
  &__item-action {
    .icheckbox_line {
      padding: 4px 8px 5px 8px;
      border: 1px solid @gray-lte;
      height: 28px;
    }
    [class^=icheck] {
      background-color: white;
      white-space: nowrap;
      color: @placeholder;
      &.checked {
        background-color: @red;
        color: white;
        border-color: @red;
      }
    }
  }
  &__item-live-search {
    width: 100%;
    .form-control {
      font-size: 13px;
    }
    button {
      height: 28px;
      .fa {
        position: relative;
        top: -2px;
      }
    }
    .input-group-btn {
      width: 1%!important;
      &:last-child {
        .btn {
          border-bottom-right-radius: @border-radius;
          border-top-right-radius: @border-radius;
          &:hover {
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.125);
          }
        }
      }
    }
  }
  &__btn-more { // кнопка "Подробнее"
    background-color: white;
    &:hover, &:active, &:focus, &:active:focus {
      background-color: white;
    }
  }
  [class^=icheck], [class^=iradio] {
    transition: background-color 200ms;
  }
}

.modal-backdrop {
  z-index: 1000
}

// добавляем нижний отступ фильтру при раскрытии выпадающего
.js-pad-b {
  padding-bottom: 15px;
}
// Удбираем кнопку "Подробнее" при открытии расширенного окна
.js-remove-btn-more {
  display: none;
}

// MIN
@media (min-width: 1200px) {
  .body--background-image {
    .filter {
      top: 46vh;
      position: absolute;
      margin-top: 0;
      right: 15px;
      left: 15px;
    }
  }
}

@media (max-width: 1199px) {
  .filter__item {
    &:not(:nth-of-type(8)) {
      max-width: 100%!important;
    }
  }
}

// MAX
@media (max-width: 991px) {
  .body--background-image {
    .filter {
      margin-top: 5%;
    }
  }
}

@media (max-width: 767px) {
  .body--background-image {
    .filter {
      margin: 0;
    }
  }
  .filter {
    margin-right: 15px;
  }
  .filter__item {
    //&:nth-of-type(3), &:nth-of-type(4) {
    //  flex-basis: 130px;
    //}
    &:nth-of-type(8) {
      max-width: 100%!important;
    }
  }
}

@media (max-width: 479px) {
  .filter__item {
    &:nth-of-type(2), &:nth-of-type(6) {
      order: 1;
    }
    //&:nth-of-type(5) {
    //  flex-basis: 320px;
    //}
    &:nth-of-type(8) {
      .btn {
        font-size: 13px;
        font-weight: 500;
        margin-right: 5px;
        padding: 6px 8px;
        &:last-of-type {
          margin-right: 0;
        }
        .js-filter__arrow {
          display: none;
        }
      }
    }
  }
  .filter__item-building-price {
    [class^=iradio] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .filter__item-action {
    .icheckbox_line {
      padding: 4px 12px 5px 25px;
    }
  }
}