@import "../variables.less";

// Расширенный фильтр
.filter-extended {
  position: relative;
  //margin-left: -15px;
  //margin-right: -15px;
  padding-right: 0!important;
  //top: 15px;
  //left: 0;
  //margin-bottom: 15px;
  border-bottom-left-radius: @border-radius;
  border-bottom-right-radius: @border-radius;
  .filter-extended__item {
    display: block;
    margin-bottom: 15px;
    .control-label {
      padding-left: 0;
      color: @placeholder;
    }
  }
  [class^=col-] {
    &:first-child {
      .filter-extended__item {
        &:nth-of-type(1) {
          .form-control {
            width: calc(100%/3);
          }
        }
        &:nth-of-type(2), &:nth-of-type(3) {
          .form-control {
            width: calc(100%/2);
          }
        }
      }
    }
    &:last-child {
      .filter-extended__item {
        //white-space: nowrap;
        //max-width: 100%;
        //&:last-of-type {
        //  white-space: normal;
        //}

      }
    }
  }
  .select2-container {
    .select2-selection--multiple {
      .select2-selection__rendered {
        display: inline-block;
      }
    }
  }
  .checkbox, .radio {
    display: inline-block;
    margin-right: 15px;
    padding-top: 10px;
    label {
      padding-left: 0;
    }
    &:hover {
      color: @red;
    }
  }
  &__btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: white;
    color: @gray;
    font-weight: 600;
    padding: 5px 8px;
    border-radius: 3px;
  }
}

[class^=icheckbox], [class^=iradio] {
  //margin-right: 5px;
  transition: none;
}

// Перебиваем стили bootstrap modal
.modal-open {
  overflow: unset;
  #filter-extended {
    overflow: unset;
    padding-left: 0!important;
    .modal-dialog {
      width: 100%;
      margin: 0;
    }
  }
}

@media (max-width: 479px){
  .body--background-image {
    .filter-extended {
      padding-left: 0!important;
    }
  }
}