@import "../variables.less";

#footer {
  position: relative;
  z-index: 1;
  width: 100%;
  color: grey;
  height: 80px;
  margin-top: -80px;
  padding: 15px;
  .footer-right-info, .footer-left-info {
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  #footer {
    height: 140px;
    margin-top: -140px;
  }
  .footer-right-info, .footer-left-info {
    text-align: center;
  }
}

@media (max-width: 479px) {
  #footer {
    font-size: 13px;
  }
}