@import "../variables.less";

// header - заголовок на главной для незарегистрированного пользователя
#header {
  z-index: 1;
  position: relative;
  margin-top: 8%;
  .logo {
    text-align: center;
  }
  .logo-pb {
    font-size: 145px;
    line-height: 120px;
    color: @red;
    display: block;
    margin-bottom: -4px;
    b {
      left: -2px;
      position: relative;
    }
  }
  .logo-text-pb {
    font-size: 32px;
    line-height: 20px;
    padding: 8px 5px 13px 1px;
    background-color: @red;
    color: white;
    display: inline-block;
    border-bottom-left-radius: 12px;
    //border-bottom-right-radius: 6px;
  }
  .header-text {
    padding-right: 15px;
    .h1 {
      small {
        font-size: 63%;
      }
    }
    .h1, small {
      font-weight: 300;
      color: white;
    }
  }
}

// Медиа запросы MIN-width
@media (min-width: 1200px) {
  #header {
    position: absolute;
    margin-top: 0;
    width: 100%;
    top: 16vh;
    right: 0;
    .h1 {
      font-size: 3.5em;
    }
  }
}

// Медиа запросы MAX-width
@media (max-width: 1199px) {
  #header {
    .header-text {
      .h1 {
        font-size: 42px;
        small {
          font-size: 63%;
        }
      }
    }
    .logo-pb {
      font-size: 130px;
      margin-bottom: -10px;
      b {
        left: -8px;
      }
      span {
        font-weight: 400;
        left: -5px;
        position: relative;
      }
    }
    .logo-text-pb {
      font-size: 30px;
      position: relative;
      left: -4px;
    }
  }
}

@media (max-width: 991px) {
  #header {
    margin-top: 0;
    .header-text {
      margin-top: 6%;
      .h1 {
        font-size: 38px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 479px) {
  #header {
    .header-text {
      padding-right: 0;
      .h1 {
        font-size: 26px;
      }
    }
  }
}