@import "../variables.less";

.login-info {
  position: relative;
  width: 100%;
  margin-top: 10%;
  z-index: 1;
}

@media (min-width: 1200px) {
  .login-info {
    position: absolute;
    margin-top: 0;
    top: 65vh;
  }
}
