@import "../variables.less";

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .nav > li > a:active, .navbar .nav .open > a {
  background: rgba(255, 255, 255, 0.3) !important;
  color: white !important;
}

.navbar.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none;
  color: white;
  //padding: 0 15px 0 15px;
  z-index: 1030;
  .navbar-nav {
    //width: 100%;
    > li {
      position: relative;
      > a {
        color: white;
        &:hover {
          color: #7d7d7d;
        }
      }
    }
  }
  .navbar-collapse {
    padding: 0;
  }
  //.navbar-collapse {
  //  .dropdown.open {
  //    &:first-of-type {
  //      > .dropdown-menu {
  //        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  //        max-height: 300px;
  //        width: 315px;
  //        display: flex;
  //        flex-direction: column;
  //        flex-wrap: wrap;
  //      }
  //    }
  //  }
  //}
  .navbar-toggle {
    float: none;
  }
}

@media (max-width: 991px) {
  .navbar-collapse.pull-left + .navbar-custom-menu {
    right: 0;
  }
}

@media (max-width: 479px) {
  .nav > li > a {
    padding: 15px 10px;
  }
  .navbar-toggle {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .navbar.navbar-transparent {
    .navbar-nav .open .dropdown-menu {
      background-color: #fff;
    }
    .navbar-collapse {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}