{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box">
    <!-- login-logo -->
    <div class="login-logo">
        <a href="/"><b>Проф</b>Брони</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Форма авторизации</p>
        {% if error %}
            <p class="text-red">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
            <div class="form-group has-feedback">
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                       required="required" placeholder="E-mail">
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" type="password" id="password" name="_password" required="required"
                       placeholder="{{ 'security.login.password'|trans }}">
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                            </div>
                            {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <input type="submit" class="btn btn-primary btn-block btn-flat" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
                </div>
                <!-- /.col -->
            </div>
        </form>

     {#   <a href="{{ path('fos_user_registration_register') }}" class="text-center">Зарегистрироваться</a>#}

    </div>
    <!-- /.login-box-body -->
</div>