{% extends  'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}



    <!-- block content-->
    <section class="content no-pad-top">

        <!-- block breadcrumb-->
        <div class="breadcrumb-cont clearfix">

            <ol class="breadcrumb no-margin">
                <li><a href="{{ path('index') }}">Главная</a></li>
                <li class="active">{{ breadcrumbs|join(' / ') }}</li>
            </ol>

        </div>

        <div class="building-info clearfix">

            <div class="col-md-6 col-md-push-6">
                <div id="flat-card">
                    <div class="box box-shadow--light">
                        <div class="box-header with-border box-header--height">
                            <span class="flat-card__header-text">
                                <b><span class="js-room-count">{{ building.blocks[0].floors[0].flats[0].roomCount }}</span>-х комн.
                                    № <span class="js-num">{{ building.blocks[0].floors[0].flats[0].num }}</span>,
                                    <span class="js-floor-num">{{ building.blocks[0].floors[0].num }}</span> этаж,
                                    <span class="js-block-name">{{ building.blocks[0].name }}</span> под.
                                </b></span>
                            <div class="pull-right js-action-label"></div>
                        </div>
                        <div class="box-body">

                            <div class="col-sm-6">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ asset('src/img/icon_flat_card/square.png') }}"
                                             alt="Площадь" class="media-object"
                                             title="Площадь">
                                    </div>
                                    <div class="media-body clearfix">
                                        <div class="flat-card__line">
                                            <span class="flat-card__lead-text pull-left">Общая</span>
                                            <div class="flat-card__dots"></div>
                                            <b class="flat-card__dinamic-text pull-right"><span class="js-area-total"> {{ building.blocks[0].floors[0].flats[0].areaTotal }}</span> м<sup>2</sup></b>
                                        </div>
                                        <div class="flat-card__line">
                                            <span class="flat-card__lead-text pull-left">Кухня</span>
                                            <div class="flat-card__dots"></div>
                                            <b class="flat-card__dinamic-text pull-right"><span class="js-kitchen-area">{{ building.blocks[0].floors[0].flats[0].kitchenArea }}</span> м<sup>2</sup></b>
                                        </div>
                                        <div class="flat-card__line">
                                            <span class="flat-card__lead-text pull-left">Жилая</span>
                                            <div class="flat-card__dots"></div>
                                            <b class="flat-card__dinamic-text pull-right"><span class="js-area-living">{{ building.blocks[0].floors[0].flats[0].areaLiving }}</span> м<sup>2</sup></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="flat-card__line">
                                            <span class="flat-card__lead-text"><img src="{{ asset('src/img/icon_flat_card/bath.png') }}"
                                                                                    alt="Санузел"
                                                                                    class="media-left media-object icon"
                                                                                    title="Санузел">
                                            Санузел</span>
                                            <div class="flat-card__dots"></div>
                                            <b class="flat-card__dinamic-text pull-right">
                                                <span class="js-bathroom-count">{{ building.blocks[0].floors[0].flats[0].bathroomCount }}</span> -
                                                <span class="js-bathroom-area">{{ building.blocks[0].floors[0].flats[0].bathroomArea }}</span> м<sup>2</sup>
                                            </b>
                                        </div>
                                        <div class="flat-card__line">
                                            <span class="flat-card__lead-text">
                                                <img src="{{ asset('src/img/icon_flat_card/balcony.png') }}"
                                                     alt="Балкон\Лоджия"
                                                     class="media-left media-object icon"
                                                     title="Балкон\Лоджия">
                                                <span>Балк\лодж</span>
                                            </span>
                                            <div class="flat-card__dots"></div>
                                            <b class="flat-card__dinamic-text pull-right">
                                                <span class="js-balcony-area">
                                                    {{ building.blocks[0].floors[0].flats[0].balconyArea }}
                                                </span>\
                                                <span class="js-loggia-area">
                                                    {{ building.blocks[0].floors[0].flats[0].loggiaArea }}
                                                </span> м<sup>2</sup>
                                            </b>
                                        </div>
                                        <div>
                                            <img src="{{ asset('src/img/icon_flat_card/paint.png') }}"
                                                 alt="Отделка"
                                                 class="media-left media-object icon"
                                                 title="Отделка">
                                            <span class="js-decor">
                                                {{ building.blocks[0].floors[0].flats[0].decor|readable_enum }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ asset('src/img/icon_flat_card/rubl.png') }}"
                                             alt="Площадь" class="media-object" title="Площадь">
                                    </div>
                                    <div class="media-body">
                                        <div class="flat-card__price clearfix">
                                            <div class="flat-card__line">
                                                <span class="flat-card__lead-text">Оплата 100 %</span>
                                                <div class="flat-card__dots visible-lg-inline"></div>
                                                <b class="flat-card__dinamic-text pull-right">
                                                    <span class="js-price-total">
                                                        {{ building.blocks[0].floors[0].flats[0].priceTotal|number_format('0', '.', ' ') }}
                                                    </span> р.
                                                </b>
                                            </div>
                                            <div class="flat-card__line">
                                                <span class="flat-card__lead-text">В Ипотеку</span>
                                                <div class="flat-card__dots"></div>
                                                <b class="flat-card__dinamic-text pull-right">от
                                                <span class="js-price-mortgage">
                                                    {{ building.blocks[0].floors[0].flats[0].priceMortgage
                                                    ? building.blocks[0].floors[0].flats[0].priceMortgage|number_format('0', '.', ' ')
                                                    : building.blocks[0].floors[0].flats[0].priceTotal|number_format('0', '.', ' ')
                                                    }}
                                                </span> р.</b>
                                            </div>
                                            <div class="flat-card__line">
                                                <span class="flat-card__lead-text">В рассрочку</span>
                                                <div class="flat-card__dots"></div>
                                                <b class="flat-card__dinamic-text pull-right">
                                                <span class="js-price-installment">
                                                    {{ building.blocks[0].floors[0].flats[0].priceInstallment
                                                    ? building.blocks[0].floors[0].flats[0].priceInstallment|number_format('0', '.', ' ')
                                                    : building.blocks[0].floors[0].flats[0].priceTotal|number_format('0', '.', ' ')
                                                    }}
                                                </span> р.</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="flat-status__free js-status">
                                                            {{ building.blocks[0].floors[0].flats[0].status|readable_enum }}
                                                        </div>
                                                        <a href="#" class="btn btn-success btn-sm">БРОНИРОВАТЬ</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                        </div>
                        <div class="box-footer">
                            <div class="col-sm-6">

                                <span>Комиссия агента - <b>__ ___ руб.</b></span>

                            </div>
                            <div class="col-sm-6">
                                <a href="#" class="">Условия бронирования</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Планировки-->
                <div class="js-floor-layout">
                    <div class="box box-shadow--light">
                        <div class="box-header with-border box-header--height">
                            <div class="box-title">Планировка</div>
                        </div>
                        <div class="box-body">
                            <div id="layout-canvas"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-pull-6">
                <div class="building-board">
                    <div class="box box-shadow--light">
                        <div class="box-header with-border box-header--height">
                            <div class="nav-tabs-custom no-margin">
                                <ul class="nav nav-tabs js-block-tabs">
                                    <li><i class="fa fa-building-o"></i> Подъезд:&nbsp;</li>
                                    {% for block in building.blocks %}
                                        <li {{ loop.first ? 'class="active"' }}>
                                            <a class="btn btn-default"
                                               href="#block{{ block.id }}"
                                               data-block-id="{{ block.id }}"
                                               data-toggle="tab">{{ block.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="tab-content">
                                {% for block in building.blocks %}
                                    <div class="tab-pane table-responsive {{ loop.first ? 'active' }}" id="block{{ block.id }}">
                                        <table class="table js-block-board margin">
                                            {% for floor in block.floors|reverse %}
                                                <tr class="building-board__row">
                                                    <td><div>{{ floor.num }}</div></td>
                                                    {% for flat in floor.flats %}
                                                        <td class="
                                                            {{ flat.status == 'sold_out' ? 'building-board__row--item-sold' }}
                                                            {% if flat.status != 'sold_out' %}
                                                                {{ flat.action ? 'building-board__row--item-action' }}
                                                                {{ (flat.decor == 'finish' or flat.decor == 'full') ? 'building-board__row--item-repair'}}
                                                                {{ flat.investorSales ? 'building-board__row--item-selling' }}
                                                                {{ flat.status == 'booked' ? 'building-board__row--item-depositor-booked' }}
                                                                {{ flat.status == 'reserved' ? 'building-board__row--item-reserved' }}
                                                            {% endif %}
                                                            {% for rcArr in rc %}
                                                            {{ flat.roomcount == rcArr ? ' building-board__row--item-search-flat' }}
                                                            {% if rcArr == 'sa' %}
                                                                {{ flat.studio == 1 ? ' building-board__row--item-search-flat' }}
                                                            {% endif %}
                                                            {% if rcArr == 's1' %}
                                                                {{ flat.studio == 1 and flat.roomcount == 1 ? ' building-board__row--item-search-flat' }}
                                                            {% endif %}
                                                            {% endfor %}
                                                            "
                                                            data-flat-id="{{ flat.id }}">
                                                            <div class="building-board__cell">
                                                                <p class="building-board__line">

                                                                    <span class="building-board__line--room-count">{{ flat.roomCount }}{{ flat.studio == 1 ? 'c' }}</span>
                                                                    <span class="building-board__line--room-square">
                                                                        {{ flat.areaLiving|number_format }}/{{ flat.areaTotal|number_format }}
                                                                    </span>
                                                                </p>
                                                                <p class="building-board__line">
                                                                    <span class="building-board__line--room-price text-bold">
                                                                        {{ flat.priceMeter|number_format('0', '.', ' ') ? : '' }}
                                                                    </span>
                                                                </p>

                                                            </div>
                                                            <span class="js-flat-checked"></span>
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Описание ячеек -->
                        <div class="box-footer">
                            <ul class="building-board__cell-markers">
                                <li><span></span> - Свободно</li>
                                <li><span class="building-board__row--item-search-flat"></span> - Выбраны по фильтру</li>
                                <li><span class="building-board__row--item-selling"></span> - От инвестора</li>
                                <li><span class="building-board__row--item-reserved"></span> - В резерве</li>
                                {#<li><span class="building-board__row--item-checked"></span> - Выбранно</li>#}
                                <li><span class="building-board__row--item-sold"></span> - Продано</li>
                                <li><span class="building-board__row--item-action"></span> - Акция</li>
                                <li><span class="building-board__row--item-depositor-booked"></span> - Забронированно</li>
                                <li><span class="building-board__row--item-repair"></span> - С ремонтом</li>
                                <li><span class="building-board__item-checked"></span> - Выбранно</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-title">Описание ЖК (из МП)</div>
                </div>
                <div class="box-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                        vulputate
                        eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit
                        tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie
                        elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis
                        pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula
                        eu
                        diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales
                        nec
                        vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod
                        sit
                        amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra.
                        Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-title">Описание застройщика (из МП)</div>
                </div>
                <div class="box-body">
                    <div class="media">
                        <div class="media-left">
                            <img src="http://via.placeholder.com/200x150" alt="Картинка застройщика"
                                 class="media-object"
                                 title="Картинка застройщика">
                        </div>
                        <div class="media-body">
                            <div class="clearfix">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                                    velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate
                                    commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor
                                    sed eleifend tristique, tortor mauris molestie elit, et lacinia
                                    ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium
                                    sit amet quis magna. Aenean velit odio, elementum in tempus ut,
                                    vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate
                                    eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius
                                    pretium ligula, a aliquam odio euismod sit amet.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                                    velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate
                                    commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor
                                    sed eleifend tristique, tortor mauris molestie elit, et lacinia
                                    ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium
                                    sit amet quis magna. Aenean velit odio, elementum in tempus ut,
                                    vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate
                                    eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius
                                    pretium ligula, a aliquam odio euismod sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-title">Документы</div>
                </div>
                <div class="box-body">
                    <ul class="list-unstyled">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                        <li><a href="#">Link 5</a></li>
                        <li><a href="#">Link 6</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-title">Ипотека</div>
                </div>
                <div class="box-body">

                    <div class="col-sm-3">
                        <a href="#" class="thumbnail btn box-shadow-light">
                            <img class="img-responsive" src="http://via.placeholder.com/350x150"
                                 alt="...">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="thumbnail btn box-shadow-light">
                            <img class="img-responsive" src="http://via.placeholder.com/350x150"
                                 alt="...">
                        </a>
                    </div>


                    <div class="col-sm-3">
                        <a href="#" class="thumbnail btn box-shadow-light">
                            <img class="img-responsive" src="http://via.placeholder.com/350x150"
                                 alt="...">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="thumbnail btn box-shadow-light">
                            <img class="img-responsive" src="http://via.placeholder.com/350x150"
                                 alt="...">
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </section>
{% endblock content %}