{% extends  'base.html.twig' %}

{% block sidebar %}{% endblock %}

{% block content %}

    {% if not app.user %}
    <div class="clearfix"></div>
    <div class="login-info text-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="box box-danger box-shadow">
                    {% if app.flashes('register_success') %}
                        <div class="box-body">Регистрация прошла успешно</div>
                    {% else %}
                        <div class="box-header text-left"><i class="fa fa-exclamation-triangle"></i>
                            <h3 class="box-title">Вы не зарегистрированы!</h3>
                        </div>
                        <div class="box-body">Для того, чтобы начать пользоваться системой, необходимо
                            зарегистрироваться.<br>Сейчас Вы видите лишь Демо-страницу.
                        </div>
                        <div class="box-footer">
                          {#<a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">Регистрация</a>#}
                            <a class="btn btn-main" href="{{ path('fos_user_security_login') }}">Войти</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}


{% endblock content %}


