{% extends  'base.html.twig' %}
{% block stylesheets_dop %}
<style>
    .button-edit-password-blue input[type=submit] {
        color: #fff;
        background-color: #00a65a;
        border-color: #008d4c;
        border-radius: 3px;
        box-shadow: none;
        border: 1px solid transparent;
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        user-select: none;
    }
    .button-edit-password-blue{
        text-align: center;
    }
    .profile-page__header-btn{
        cursor: pointer;
    }
</style>
{% endblock %}
{% block navbar %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <!-- block content-->
    <div class="content no-pad-top">
        <div class="profile-page">
            <div class="profile-page__header">

                <div class="box box-widget widget-user-2 box-shadow--light">
                    <div class="widget-user-header">
                        <div class="row">

                            <div class="col-md-9 col-sm-9">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="widget-user-image">
                                            <a href="#" data-toggle="tooltip" title="" data-original-title="Нажмите, что бы изменить аватар">
                                                <img class="img-circle" src="../src/img/default-avatar.png" alt="User Avatar">
                                            </a>
                                        </div>
                                        {% if app.user.firstname and app.user.lastname %}
                                        <h3 class="widget-user-username">{{ app.user.firstname }} {{ app.user.lastname }}</h3>
                                        {% elseif app.user.username %}
                                        <h3 class="widget-user-username">{{ app.user.username }} </h3>
                                        {% endif %}
                                        {% if app.user.developer %}
                                        <h5 class="widget-user-desc">{{ app.user.developer }}</h5>
                                        {% elseif app.user.agency %}
                                        <h5 class="widget-user-desc">{{ app.user.agency }}</h5>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-5">
                                        <div class="widget-user__desc">
                                            {% if app.user.phone %}
                                            <h4 style="display: inline-block;"><i class="fa fa-phone margin-r-5"></i>{{ app.user.phone }}</h4>
                                            {% endif %}
                                            <h4 class="widget-user-desc" style="display: inline-block;"><i class="fa fa-envelope-o margin-r-5"></i>{{ app.user.email }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="profile-page__header-btn pull-right">
                                    <a data-toggle="modal" data-target="#modal-profile" class="collapsed widget-user-desc text-bold">
                                        <i class="fa fa-user-secret margin-r-5"></i> Редактировать данные
                                    </a>
                                </div>
                                <div class="profile-page__header-btn pull-right">
                                    <a href="#profile-message">Сообщения</a>
                                    <a href="#profile-message"><span data-toggle="tooltip" title="" class="badge bg-red" data-original-title="20 Новых сообщений">20</span></a>
                                </div>
                            </div>

                        </div>

                        <!-- Блок описание "Обо мне" -->
                        <div id="about_collapse" class="panel-collapse collapse" aria-expanded="false">
                            <div class="box-body">
                                <button class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-profile">Редактировать</button>
                               {#{% if app.user.gender != 'u' %}
                                    <strong><i class="fa fa-book margin-r-5"></i> Пол</strong>
                                    {% if app.user.gender == 'f' %}
                                    <p class="text-muted">Женский</p>
                                    {% elseif app.user.gender == 'm' %}
                                    <p class="text-muted">Мужской</p>
                                    {% endif %}
                                {% endif %}
                               {# {% if app.user.place_residence %}
                                    <hr>
                                    <strong><i class="fa fa-map-marker margin-r-5"></i> Местопроживание</strong>
                                    <p class="text-muted">{{ app.user.place_residence }}</p>
                                {% endif %}
                                <hr>#}
                                {% if app.user.phone %}

                                    <strong><i class="fa fa-pencil margin-r-5"></i> Телефон</strong>
                                    <p class="text-muted">{{ app.user.phone }}</p>
                                {% endif %}
                                {% if app.user.website %}
                                    <hr>
                                    <strong><i class="fa fa-pencil margin-r-5"></i> Сайт:</strong>
                                    <p class="text-muted">{{ app.user.website }}</p>
                                {% endif %}
                               {# <p>
                                    <span class="label label-danger">UI Design</span>
                                    <span class="label label-success">Coding</span>
                                    <span class="label label-info">Javascript</span>
                                    <span class="label label-warning">PHP</span>
                                    <span class="label label-primary">Node.js</span>
                                </p>#}
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            {% block profile %}
                {{ include('main/_templates/profile.html.twig') }}
            {% endblock %}

            <!-- block content-->
            <div class="box box-solid box-shadow--light">

                <div class="box-header bg-accent">
                    <i class="fa fa-info-circle"></i>
                    <div class="box-title profile-page__title">Информация о бронировании для моих клиентов, статусы брони и сделки</div>
                </div>

                <div class="box-body">
                    <div class="">
                        <div class="dataTables_wrapper">
                            <div class="table-responsive">
                                <table class="js-profile-table table table-bordered table-hover text-center collapsed" width="100%">
                                    <thead>
                                    <tr> <!-- Шапка таблицы -->
                                        <th>№</th>
                                        <th>Объект</th>
                                        <th>Дата брони</th>
                                        <th>Срок брони</th>
                                        <th>Клиент</th>
                                        <th>Статус брони/сделки</th>
                                        <th>Цена на момент бронирования 100%/базовая (руб.)</th>
                                        <th>
                                            <span class="visible-lg">Цена забронированной квартиры (руб.)</span>
                                            <span class="hidden-lg">Цена <span class="text-nowrap">забр-ой</span> <span class="text-nowrap">кв-ы</span> (руб.)</span>
                                        </th>
                                        <th>Премия застройщика (руб.)</th>
                                        <th>Статус оплаты</th>
                                        <th>Мои примечания</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr> <!-- Первая строка -->
                                        <td>05050</td>
                                        <td>
                                            <a class="text-bold" href="#">Планировка и подробности по квартире:</a>
                                            <span>Квартира: 2ккв 59кв.м.,</span>
                                            <span>22 этаж в комплексе,</span>
                                            <span>Дом на заводской 28,</span>
                                            <span>1 очередь, корпус 1</span>
                                        </td>
                                        <td>2.03.2017 11:30</td>
                                        <td></td>
                                        <td><span style="white-space: nowrap">Котова Д.И.</span> 6005 111111</td>
                                        <td>Отменена</td>
                                        <td class="profile-table__brony--price"><span>25000000</span><span class="visible-lg-inline">/</span><span>24000000</span></td>
                                        <td>-</td>
                                        <td></td>
                                        <td>тест</td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="profile-message">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-widget box-shadow--light">

                            <div class="box-header with-border bg-accent">
                                <i class="fa fa-envelope"></i>
                                <div class="box-title profile-page__title">Мои сообщения</div>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-box-tool text-white" data-toggle="tooltip" title="" data-original-title="Показать не прочитанные"><i class="fa fa-warning"></i></button>
                                    <button type="button" class="btn btn-box-tool text-white" data-toggle="tooltip" title="" data-original-title="Отметить как прочитано"><i class="fa fa-circle-o"></i></button>
                                    <button type="button" class="btn btn-box-tool text-white" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Свернуть"><i class="fa fa-minus"></i></button>
                                    {#<button type="button" class="btn btn-box-tool text-white" data-widget="remove"><i class="fa fa-times"></i></button>#}
                                </div>
                            </div>

                            <div class="box-body">
                                <div class="attachment-block clearfix">
                                    <img class="attachment-img" src="../../src/img/slider-bg.jpg" alt="Attachment Image">
                                    <div class="attachment-pushed">
                                        <h4 class="attachment-heading"><a href="#">Lorem ipsum text generator</a></h4>
                                        <div class="attachment-text">
                                            Description about the attachment can be placed here.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry... <a href="#">more</a>
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer box-comments">
                                <div class="box-comment">
                                    <!-- User image -->
                                    <img class="img-circle img-sm" src="../../src/img/user3-128x128.jpg" alt="User Image">

                                    <div class="comment-text">
                                      <span class="username">Мария Соколова
                                        <span class="text-muted pull-right">Вчера</span>
                                      </span><!-- /.username -->
                                        It is a long established fact that a reader will be distracted
                                        by the readable content of a page when looking at its layout.
                                    </div>
                                    <!-- /.comment-text -->
                                </div>
                                <!-- /.box-comment -->
                                <div class="box-comment">
                                    <!-- User image -->
                                    <img class="img-circle img-sm" src="../../src/img/user4-128x128.jpg" alt="User Image">

                                    <div class="comment-text">
                                      <span class="username">Людмила Старикова
                                        <span class="text-muted pull-right">8:03 Сегодня</span>
                                      </span><!-- /.username -->
                                        It is a long established fact that a reader will be distracted
                                        by the readable content of a page when looking at its layout.
                                    </div>
                                    <!-- /.comment-text -->
                                </div>
                                <!-- /.box-comment -->
                            </div>
                            <!-- /.box-footer -->
                            <div class="box-footer">
                                <form action="#" method="post">
                                    <img class="img-responsive img-circle img-sm" src="../../src/img/user4-128x128.jpg" alt="Alt Text">
                                    <!-- .img-push is used to add margin to elements next to floating images -->
                                    <div class="img-push">
                                        <input type="text" class="form-control input-sm" placeholder="Введите текст и нажмите Enter для отправки сообщения">
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <!-- Box Comment -->
                        <div class="box box-widget box-shadow--light">

                            <div class="box-header with-border bg-accent">
                                <i class="fa fa-envelope"></i>
                                <div class="box-title profile-page__title">Сообщения от менеджера</div>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-box-tool text-white" data-toggle="tooltip" title="" data-original-title="Показать не прочитанные"><i class="fa fa-warning"></i></button>
                                    <button type="button" class="btn btn-box-tool text-white" data-toggle="tooltip" title="" data-original-title="Отметить как прочитано"><i class="fa fa-circle-o"></i></button>
                                    <button type="button" class="btn btn-box-tool text-white" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Свернуть"><i class="fa fa-minus"></i></button>
                                    {#<button type="button" class="btn btn-box-tool text-white" data-widget="remove"><i class="fa fa-times"></i></button>#}
                                </div>
                            </div>

                            <div class="box-body">
                                <div class="post">

                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="../../src/img/user1-128x128.jpg" alt="user image">
                                        <span class="username">
                                            <a href="#">Шаповалов И.А.</a>
                                            <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                                        </span>
                                        <span class="description">Опубликовано - 7:30 Сегодня</span>
                                    </div>

                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans.
                                    </p>

                                    <input class="form-control input-sm" type="text" placeholder="Введите текст">
                                </div>

                                <div class="post clearfix">

                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="../../src/img/user7-128x128.jpg" alt="User Image">
                                        <span class="username">
                                          <a href="#">Татьяна Курникова</a>
                                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                                        </span>
                                        <span class="description">Отправлено - 3 дня назад</span>
                                    </div>

                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans.
                                    </p>

                                    <form class="form-horizontal" _lpchecked="1">
                                        <div class="form-group margin-bottom-none">
                                            <div class="col-sm-9"><input class="form-control input-sm" placeholder="Ответить"></div>
                                            <div class="col-sm-3"><button type="submit" class="btn btn-danger pull-right btn-block btn-sm">Отправить</button></div>
                                        </div>
                                    </form>

                                </div>
                                <div class="post">

                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="../../src/img/user7-128x128.jpg" alt="User Image">
                                        <span class="username">
                                              <a href="#">Татьяна Курникова</a>
                                              <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                                        </span>
                                        <span class="description">Отправлено - 2 дня назад</span>
                                    </div>

                                    <div class="attachment-block clearfix">
                                        <img class="attachment-img" src="../../src/img/slider-bg.jpg" alt="Attachment Image">
                                        <div class="attachment-pushed">
                                            <h4 class="attachment-heading"><a href="http://www.lipsum.com/">Lorem ipsum text generator</a></h4>
                                            <div class="attachment-text">
                                                Description about the attachment can be placed here.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry... <a href="#">more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer box-comments">

                                <div class="box-comment">
                                    <img class="img-circle img-sm" src="../../src/img/user3-128x128.jpg" alt="User Image">
                                    <div class="comment-text">
                                        <span class="username">Мария Соколова<span class="text-muted pull-right">2 дня назад</span></span>
                                        It is a long established fact that a reader will be distracted
                                        by the readable content of a page when looking at its layout.
                                    </div>
                                </div>

                                <div class="box-comment">
                                    <img class="img-circle img-sm" src="../../src/img/user5-128x128.jpg" alt="User Image">
                                    <div class="comment-text">
                                        <span class="username">Людмила Старикова<span class="text-muted pull-right">Вчера</span></span>
                                        The point of using Lorem Ipsum is that it has a more-or-less
                                        normal distribution of letters, as opposed to using
                                        'Content here, content here', making it look like readable English.
                                    </div>
                                </div>

                            </div>
                            <!-- /.box-footer -->
                            <div class="box-footer">
                                <form action="#" method="post">
                                    <img class="img-responsive img-circle img-sm" src="../../src/img/user4-128x128.jpg" alt="Alt Text">
                                    <!-- .img-push is used to add margin to elements next to floating images -->
                                    <div class="img-push"><input type="text" class="form-control input-sm" placeholder="Введите текст для отправки сообщения"></div>
                                </form>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block sidebar %}{% endblock %}
