{% extends  'base.html.twig' %}
{% block stylesheets_dop %}
<style>
    .box-shadow--light{
        margin-top: 20px;
    }
</style>
{% endblock %}
{% block navbar %}{% endblock %}

{% block header %}{% endblock %}
{% block content %}

    <!-- block content-->
    <div class="content no-pad-top">
        <div class="profile-page">
            <!-- block content-->
            <div class="box box-solid box-shadow--light">

                <div class="box-header bg-accent">
                    <i class="fa fa-info-circle"></i>
                    <div class="box-title profile-page__title">Информация о тарифах</div>
                </div>

                <div class="box-body">
                    <div class="">
                        <div class="dataTables_wrapper">
                            <div class="table-responsive">
                                <table class="js-profile-table table table-bordered table-hover text-center collapsed" width="100%">
                                    <thead>
                                    <tr> <!-- Шапка таблицы -->
                                        <th>№</th>
                                        <th>Застройщик</th>
                                        <th>Спецпредложения по базовым тарифам</th>
                                        <th>Для ПрофБрони, %</th>
                                        <th>Для агентств, %</th>
                                        <th>Максимально возможный, %</th>
                                        <th>Для партнеров, %</th>
                                        <th>Для частных агентов, %</th>
                                        <th>Дополнительные условия</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, rate in rates %}
                                    <tr> <!-- Первая строка -->
                                        <td>{{ key + 1 }}</td>
                                        <td>{{ rate.developer }}</td>
                                        <td id="spetc_rate_{{ rate.rate_id }}">
                                        {% if (rate.object_percent_profbrony) > 0 or (rate.object_percent_for_you) > 0 or
                                            (rate.object_percent_max) > 0 or (rate.object_percent_prof_parther) > 0 or (rate.object_percent_dop) > 0 or
                                            (rate.object_percent_private) > 0 or
                                            (rate.building_percent_profbrony) > 0 or
                                            (rate.building_percent_for_you) > 0 or
                                            (rate.building_percent_max) > 0 or
                                            (rate.building_percent_prof_parther) > 0 or
                                            (rate.building_percent_dop) > 0 or
                                            (rate.building_percent_private) > 0  %}
                                            ***
                                            {% endif %}
                                        </td>
                                        <td>{{ rate.rate_percent_profbrony }}</td>
                                        <td>{{ rate.rate_percent_for_you }}</td>
                                        <td>{{ rate.rate_percent_max }}</td>
                                        <td>{{ rate.rate_percent_prof_parther }}</td>
                                        <td>{{ rate.rate_percent_private }}</td>
                                        <td>{{ rate.rate_persent_dop }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block sidebar %}{% endblock %}
{% block javascripts_dop %}

{% endblock %}