{% extends  'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <!-- block content-->
    <div class="content no-pad-top">

        <!-- block breadcrumb-->
        <div class="breadcrumb-cont clearfix">

            <ol class="breadcrumb no-margin">
                <li><a href="{{ path('index') }}">Главная</a></li>
                <li class="active">{{ breadcrumbs|join(' / ') }}</li>
            </ol>

            <!-- Nav tabs-->
            <div class="nav-tabs-pos pull-right">
                <div class="tab-view pull-left pad-15">Вид:</div>
                <ul class="nav nav-tabs btn-group" role="group">
                    <button type="button" class="active btn" href="#tab_1-1" data-toggle="tab" aria-expanded="false" role="tab"><i class="fa fa-list-alt"></i></button>
                    <button type="button" class="btn" href="#tab_2-2" data-toggle="tab" aria-expanded="true" role="tab"><i class="fa fa-th"></i></button>
                </ul>
            </div>

        </div>

        <!-- Block content-->
        <div class="box box-solid box-shadow--light">
            <div class="box-body">
                <div class="search-result">
                    <div class="tab-content">
                        <div class="tab-pane fade in active dataTables_wrapper form-inline" id="tab_1-1">
                            <table id="search-result-table" class="display table dt-responsive table-bordered table-hover text-center" width="100%">
                                <thead>
                                    <tr class="text-center">
                                        <th>№</th>
                                        <th>Район</th>
                                        <th>Комплекс</th>
                                        <th>Сроки</th>
                                        <th>Этажей</th>
                                        <th>Комнат</th>
                                        <th>Количество</th>
                                        <th>м<sup>2</sup> от/до</th>
                                        <th>Цена от<br class="visible-xs"><span class="visible-xs">т.руб</span></th>
                                        <th>%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for key, building in buildings %}
                                    <tr>
                                        <td>{{ key + 1 }}</td>
                                        <td class="search-result__district">{{ building.address.street.district.name }}</td>
                                        <td class="search-result__complex">
                                            <span class="search-result__complex-view text-bold">
                                                <a class="js-building-href" href="{{ path('show_building', {'id': building.id}) }}">{{ building.name }}</a>
                                                {#<a class="search-result__complex-view--desc js-view-desc hidden-lg pull-right" href="#">»</a>#}
                                            </span>
                                            <span class="search-result__complex--viewtext">
                                                <span>{{ building.address.name }}</span>
                                            </span>
                                        </td>
                                        <td>{{ building.deadlineQuarter|readable_enum }} {{ building.deadlineYear|date('Y') }}</td>
                                        <td>{{ building.floorCount }}</td>
                                        <td class="search-result__kolychestvo-komnat">

                                            {% for key, roomCount in building.aggs.roomCount %}
                                                {% if roomCount %}
                                                <span class="search-result__kolychestvo-komnat--icon text-left hidden-xs pull-left">
                                                    {% for i in 1..key %}
                                                        <i class="fa fa-square-o text-red"></i>
                                                    {% endfor %}
                                                </span>
                                                <span class="search-result__kolychestvo-komnat--text">{{ roomCount }}</span>
                                                <br>
                                                {% endif %}
                                            {% endfor %}

                                        <td><i class="fa fa-building text-red pull-left hidden-xs"></i>
                                            <span>{{ building.aggs.flatCount }}</span>
                                        </td>
                                        <td>{{ building.aggs.areaMeterMin }} / {{ building.aggs.areaMeterMax }}</td>
                                        <td style="white-space: nowrap">
                                            <i class="fa fa-rub text-red pull-left hidden-xs"></i>
                                            <span class="text-green">{{ building.aggs.priceMin }}</span>
                                        </td>
                                        <td>-</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane fade" id="tab_2-2">

                            <!-- Thumbnails block-->
                            {% for building in buildings %}
                                <div class="search-result-thumbnail">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <a href="#">
                                            <div class="thumbnail btn box-shadow--light">
                                                <h3>{{ building.name }}</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}