{% extends  'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <!-- block content-->
    <div class="content no-pad-top">

        <!-- block breadcrumb-->
        <div class="breadcrumb-cont clearfix">

            <ol class="breadcrumb no-margin">
                <li><a href="{{ path('index') }}">Главная</a></li>
                <li class="active">Результат поиска</li>
            </ol>

            <!-- оставил... вдруг понадобятся табы-->
            <!-- Nav tabs-->
            {#<div class="nav-tabs-pos pull-right">#}
                {#<div class="tab-view pull-left pad-15">Вид:</div>#}
                {#<ul class="nav nav-tabs btn-group" role="group">#}
                    {#<button type="button" class="active btn" href="#tab_1-1" data-toggle="tab" aria-expanded="false" role="tab"><i class="fa fa-list-alt"></i></button>#}
                    {#<button type="button" class="btn" href="#tab_2-2" data-toggle="tab" aria-expanded="true" role="tab"><i class="fa fa-th"></i></button>#}
                {#</ul>#}
            {#</div>#}

            {#<div class="search-map__items balloon">#}
                {#<div class="search-map__item clearfix">#}
                    {#<div class="col-md-4">#}
                        {#<a  href="{{ path('search_result') }}" class="search-map__item-image" target="_blank" style="background-image: url('//bck.superrielt.ru/images/upload/59707641e690e.jpg')">#}
                            {#<img src="//bck.superrielt.ru/images/upload/59707641e690e.jpg"></a>#}
                        {#<span class="search-map__item-date">Срок сдачи: <b class="ng-binding">4 квартал 2018</b></span>#}
                        {#<ul class="search-map__developers"></ul>#}
                    {#</div>#}
                    {#<div class="col-md-8">#}
                        {#<div class="search-map__item-content">#}
                            {#<a class="search-map__item-title" target="_blank" href="{{ path('search_result') }}">ЖК «Сердце Ростова»</a>#}
                            {#<p class="search-map__item-address" title="Перейти на карте">#}
                                {#<i class="fa fa-map-marker" aria-hidden="true"></i>#}
                                {#пр-т. Михаила Нагибина 31#}
                            {#</p>#}
                        {#</div>#}
                        {#<span class="search-map__item-cost"><span>от</span> 47 000 <span><i class="fa fa-rub" aria-hidden="true"></i>/м²</span></span>#}
                        {#<ul class="search-map__item-rooms-cost">#}
                            {#<li>1 комн. от <b>1 109 200 руб.</b></li>#}
                            {#<li>2 комн. от <b>2 222 160 руб.</b></li>#}
                            {#<li>3 комн. от <b>3 297 520 руб.</b></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

        </div>

        <!-- Block content-->
        <div class="box box-solid box-shadow--light">
            <div class="box-header box-title border-top-radius bg-accent">
                <h3 class="h3 no-margin">Карта</h3>
            </div>
            <div class="box-body">
                <div class="search-result-map">
                    <div id="map"></div>
                </div>
            </div>
        </div>


    </div>
    <script src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru_RU"></script>
    <script src="{{ asset('build/ymap.js') }}"></script>
{% endblock content %}